[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "==3.1"
algoliasearch = "==1.13.0"
algoliasearch-django = "==1.5.0"
django-addanother = "==2.0.0"
google-api-python-client = "==1.7.3"
django-extensions = "==2.0.0"
djangorestframework = "==3.7.7"
google-auth = "==1.5.0"
"google-auth-httplib2" = "==0.0.3"
google-auth-oauthlib = "==0.2.0"
"psycopg2" = "==2.7.3.2"
mysqlclient = "==1.3.12"
django-pure-pagination = "==0.3.0"
pygments = "==2.2.0"
social-auth-app-django = "==2.1.0"
social-auth-core = "==1.7.0"
rules = "==1.3"
sorl-thumbnail = "==12.4.1"
raven = "==6.9.0"
requests = "==2.18.4"
whitenoise = "==3.3.1"
weasyprint = "==0.42.2"
oauthlib = "==2.0.7"
requests-oauthlib = "==0.8.0"
markdown = "==2.6.9"
"oauth2client" = "==4.1.2"
"httplib2" = "==0.11.3"
django-robots = {git = "https://github.com/jazzband/django-robots.git", editable = true}
django-social-share = "*"
pywebber = "*"
django-debug-toolbar = "*"

[dev-packages]
"beautifulsoup4" = "==4.6.0"
django-debug-toolbar = "==1.9.1"
pywebber = "==5.0"
"psycopg2" = "==2.7.3.2"
model-mommy = "==1.5.1"
pylint = "==1.9.2"
selenium = "==3.12.0"
coverage = "==4.5.1"

[requires]
python_version = "3.6"
