{% extends "somto_base.html" %}
{% block title %}Logged out{% endblock title %}
{% block wrap_filter %}{% endblock wrap_filter %}

{% block content_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h2>Logged out!</h2>  </div>
        </div>

        <div class="row">
            <div  class="col-sm-12"><a href="{% url 'siteuser:login' %}">Click here to login again.</a></div  class="col-sm-12">
        </div>
    </div>
{% endblock content_content %}

{% block wrap_forms %}{% endblock wrap_forms %}