{% extends "choralcentral_base.html" %}
{% block title %}Logged out{% endblock title %}

{% block navigation %}{% endblock %}
{% block introduction %}{% endblock %}
{% block k %}{% endblock %}

{% block content_content %}

        <h1 class='text-center'><a href="/">ChoralCentral</a></h1>
        <hr>

        <h4>You're logged out.</h4>
        <h4><a href="{% url 'siteuser:login' %}">Login</a></h4>

{% endblock content_content %}
{% block footer %}{% endblock %}
{% block left_sidebar %}{% endblock %}
{% block right_sidebar %}{% endblock %}
