{% extends "choralcentral_base.html" %}

{% block title %}Login{% endblock title %}
{% load static %}

{% block body %}

<div class="container login-form text-center">

    {% if form.errors %}
        <p class="text-danger text-center">Your username and password didn't match</p>
    {% endif %}

    <h2>Login</h2>

    <form method="post" action="{% url 'siteuser:login' %}">
        {% csrf_token %}

        <div class="form-group">
            {{ form.username }}
            <span class="fas fa-user" aria-hidden="true"></span>
        </div>

        <div class="form-group">
            {{ form.password }}
            <span class="fas fa-unlock-alt" aria-hidden="true"></span>
        </div>

        <button class="btn btn-primary btn-lg float-right" type="submit" value="login">Log In</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <div class="container">
        <h5>
            <span class="float-left">
                <a href="{% url 'siteuser:new' %}">Sign Up</a>
            </span>

            <span class="float-right">
                <a href="{% url 'siteuser:reset_password' %}">Forgot password?</a>
            </span>
        </h5>
    </div>
</div>
{% endblock body %}
