{% extends "choralcentral_base.html" %}

{% block title %}Login{% endblock title %}
{% load static %}

{% block body %}

<div class="container login-form">

    {% if form.errors %}
        <p class="text-danger text-center">Your username and password didn't match</p>
    {% endif %}

    <h2>Login</h2>
    <hr>

    <form method="post" action="{% url 'siteuser:login' %}">
        {% csrf_token %}

        <div class="form-group">
            {{ form.username }}
            <span class="fas fa-user" aria-hidden="true"></span>
        </div>

        <div class="form-group">
            {{ form.password }}
            <span class="fas fa-unlock-alt" aria-hidden="true"></span>
        </div>

        <button class="btn btn-primary btn-sm" type="submit" value="login">Log In</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <div class="dropdown-divider"></div>
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-primary btn-sm float-left" href="{% url 'siteuser:new' %}">Join</a>
            <a class="btn btn-danger btn-sm float-right" href="{% url 'siteuser:reset_password' %}">Forgot password?</a>
        </div>
    </div>
</div>
{% endblock body %}
