{% extends "somto_base.html" %}

{% block title %}Login{% endblock title %}
{% block navigation %}{% endblock navigation %}
{% block wrap_filter %}{% endblock wrap_filter %}
{% block wrap_content %}{% endblock wrap_content %}
{% load static %}

{% block search %}{% endblock search %}

{% block content_forms %}


<div class="row">
    <div class="login-logo">
        <a href="{% url 'song:index' %}"><img src="{% static 'img/logo-somto.png' %}"></a>
    </div>
</div>

<div class="container login-form text-center">

    <div class="row">
        <div class="col-sm-12">
            {% if form.errors %}
                <p class="text-danger text-center">Your username and password didn't match</p>
            {% endif %}

            {% if next %}
                <h3 class="text-center">Login to ChoralCentral</h3>
            {% endif %}
        </div>
    </div>

    <form method="post" action="{% url 'siteuser:login' %}">
        {% csrf_token %}

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    {{ form.username }}
                    <span class="fa fa-user" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    {{ form.password }}
                    <span class="fa fa-unlock-alt" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-md btn-block" type="submit" value="login">Log In</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-12">
            <p class="text-center">New to ChoralCentral? <a href="{% url 'siteuser:new' %}">Create an account</a></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <p class="text-center"><a href="{% url 'siteuser:reset_password' %}">Forgot password?</a></p>
        </div>
    </div>
</div>
{% endblock content_forms %}

{% block footer %}{% endblock footer %}
