{% extends "choralcentral_base.html" %}
{% block wrap_filter %}{% endblock wrap_filter %}
{% block title %}Change password{% endblock title %}
{% block navigation %}{% endblock navigation %}

{% block wrap_content %}{% endblock wrap_content %}
{% load static %}

{% block search %}{% endblock search %}

{% block content_forms %}

<div class="row">
    <div class="login-logo">
        <a href="{% url 'song:index' %}"><img src="{% static 'img/logo-choralcentral.png' %}"></a>
    </div>
</div>

<div class="container login-form">
    <div class="row">
        <div class="col-sm-12">
            {% if form.errors %}
                <p class="text-danger">{{ form.errors }}</p>
            {% endif %}
            <h3>Change password</h3>
        </div>
    </div>
    
    <form method="post" action="">
        {% csrf_token %}
    
        <div class="row">
            <div class="col-sm-12">
                {{ form.old_password }}
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                {{ form.new_password1 }}
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li class="text-danger">Your password can't be too similar to your other personal information.</li>
                    <li class="text-danger">Your password must contain at least 8 characters.</li>
                    <li class="text-danger">Your password can't be a commonly used password.</li>
                    <li class="text-danger">Your password can't be entirely numeric.</li>
                </ul>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                {{ form.new_password2 }}
            </div>
        </div>
    
    
       <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-md btn-block" type="submit" value="Reset Password">Reset Password</button>
            </div>
       </div>
    </form>
</div>

{% endblock content_forms %}

{% block footer %}{% endblock footer %}
