{% extends "somto_base.html" %}

{% block wrap_filter %}{% endblock wrap_filter %}
{% block title %}Password reset completed successfully{% endblock title %}

{% block content_content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>The password has been successfully reset!</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <p><a href="{% url 'siteuser:login' %}">login</a></p>
        </div>
    </div>
</div>

{% endblock content_content %}
{% block wrap_forms %}{% endblock wrap_forms %}
