{% extends "choralcentral_base.html" %}
{% block wrap_filter %}{% endblock wrap_filter %}
{% block title %}Password reset link sent{% endblock title %}

{% block content_content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Password reset link sent</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <p>We've emailed you instructions for resetting your password.<br>
                If they haven't arrived in a few minutes, check your spam folder.</p>                
        </div>
    </div>
</div>

{% endblock content_content %}

{% block wrap_forms %}{% endblock wrap_forms %}

