{% extends "choralcentral_base.html" %}

{% block wrap_filter %}{% endblock wrap_filter %}
{% block title %}Confirm password reset{% endblock title %}
{% block search %}{% endblock search %}
{% block wrap_content %}{% endblock wrap_content %}

{% block content_forms %}

{% if validlink %}
    <div class="row">
        <div class="col-sm-12">
            <h2>Confirm password reset</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>Please enter (and confirm) your new password.</p>
        </div>
    </div>
            
    <form action="{% url 'siteuser:reset_password_complete' %}" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
            
        <div class="row">
            <div class="col-sm-12">
                {{ form.new_password1 }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{ form.new_password2 }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-md btn-block" type="submit" value="Reset password">Reset password</button>
            </div>
        </div>
    </form>
{% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock content_forms %}
