{% extends "choralcentral_base.html" %}
{% block title %}Reset password{% endblock title %}
{% block navigation %}{% endblock navigation %}
{% block wrap_filter %}{% endblock wrap_filter %}
{% block search %}{% endblock search %}
{% block wrap_content %}{% endblock wrap_content %}
{% load static %}

{% block content_forms %}

<div class="row">
        <div class="login-logo">
            <a href="{% url 'song:index' %}"><img src="{% static 'img/logo-choralcentral.png' %}"></a>
        </div>
    </div>
    
<div class="container login-form">

    <div class="row">
        <div class="col-sm-12">
            {% if form.email.errors %}
                <p class="text-danger">{{ form.email.errors }}</p>
            {% endif %}
            <h3>Reset password</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <p>Enter your registered email address to reset your password</p>
        </div>
    </div>
    
    <form method="post" action="">
        {% csrf_token %}
    
        <div class="row">
            <div class="col-sm-12">
                    {{ form.email }}
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-md btn-block" type="submit" value="Reset Password">Reset Password</button>
            </div>
        </div>
    </form>

</div>    
{% endblock content_forms %}

{% block footer %}{% endblock footer %}
