{% extends "choralcentral_base.html" %}
{% block title %}Change password{% endblock title %}
{% load static %}

{% block body %}

<div class="container login-form text-center">

    {% if form.errors %}
        <p class="text-danger">{{ form.errors }}</p>
    {% endif %}

    <h2>Change password</h2>

    <form method="post" action="">
        {% csrf_token %}

        <p>{{ form.old_password }}</p>

        <p>{{ form.new_password1 }}</p>
        <p>{{ form.new_password2 }}</p>

        <ul>
            <li class="text-danger text-left">Your password can't be too similar to your other personal information.</li>
            <li class="text-danger text-left">Your password must contain at least 8 characters.</li>
            <li class="text-danger text-left">Your password can't be a commonly used password.</li>
            <li class="text-danger text-left">Your password can't be entirely numeric.</li>
        </ul>
       <button class="btn btn-primary btn-md btn-block" type="submit" value="Reset Password">Reset Password</button>
    </form>
</div>

{% endblock body %}
