{% extends "choralcentral_base.html" %}
{% block title %}Reset password{% endblock title %}
{% block body %}

<div class="container login-form text-center">

{% if form.errors %}
    <p class="text-danger">{{ form.errors }}</p>
{% endif %}

<h2>Reset password</h2>

<p>Enter your registered email address to reset your password</p>

    <form method="post" action="">
        {% csrf_token %}
        <p>{{ form.email }}</p>
        <button class="btn btn-success btn-md float-right" type="submit" value="Reset Password">Reset Password</button>
    </form>
{% endblock body %}
