
<div class="container">
    <div class="row social-logins center">
        <div class="col-sm-12">
            <a class="google-login" href="{% url 'social:begin' 'google-oauth2' %}" title="Google login"><i class="fab fa-google"></i></a>
            <a class="twitter-login" href="{% url 'social:begin' 'twitter' %}" title="Twitter login"><i class="fab fa-twitter"></i></a>
            <a class="yahoo-login" href="{% url 'social:begin' 'yahoo-oauth2' %}" title="Yahoo login"><i class="fab fa-yahoo"></i></a>
            <a class="facebook-login" href="{% url 'social:begin' 'facebook' %}" title="Facebook login"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</div>