body {
    padding-top: 3.5rem;
}

.navbar-brand {
    font-size: 30px;
}

/* fix nav scrolling on small screens */
@media (min-width: 300px) {
    .navbar-collapse.navcontent.collapse.show {
        max-height: 540px !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
}

ul.nav > li.social-management {
    padding: 0.35rem;
}
ul.righthand-navigation {
    padding: 0;
    margin-right: 8rem;
}

.avatar-image > img {
    height: 120px;
    width: 120px;
}
.profile-image > img {
    height: 25px;
    width: 25px;
}

.profile-image {
    float: left!important;
}
.profile-name {
    padding-left: 0.3rem;
    float: left!important;
}

.jumbotron {
    margin-bottom: 0;
    background: #cacaca;
    border-radius: 0;
}
section.jumbotron {
    border-radius: 0;
}
section a {
    margin: 0.5rem 0 0.5rem 0.5rem;
}
label {
    font-weight: bold;
}
hr {
    border: 0;
    border-top: 1px solid midnightblue;
}

.instant-search {
    padding: 20px 0;
}

.content-block {
    max-width: 1000px;
    margin: auto;
    box-shadow: 1px 3px 7px 3px #c4c7ce inset;
    border-radius: 0.15rem;
    padding-bottom: 10px;
}
td, th {
    white-space: nowrap;
}
.object-delete-button {
    margin-bottom: 25rem;
}
.filter-block {
    max-width: 400px;
    margin: auto;
    background: #e9ecef;
    margin-top: 0.5rem;
    margin-bottom: 8rem;
    padding: 0.5rem 1rem 3rem;
    border-radius: 0.15rem;
    border: 1px solid mintcream;
}
.filter-block .btn-sm {
    margin-top: 0.5rem;
}
.upload-form {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width:500px;
    padding: 1rem 1rem 1rem;
    border-radius: 5px;
    padding-bottom: 50px;
    margin-top: .5rem;
    margin-bottom: 35rem;
    border: .5px solid #375a7f;
}

a.upload-button {
    margin-right: 0.35rem;
    margin-top: 0.3rem;
}
.related-widget-wrapper-link {
    background: blanchedalmond;
}
.list-authors {
    padding: 0.1rem 1rem 0.5rem;
    margin: 0.75rem 0;
    background: #e9ecef;
    border-radius: 0.15rem;
    border: 1px solid rgba(0,0,0,.125);
}
.list-authors p {
    margin-bottom: 0;
}
.list-authors h5 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0;
}
.author-bio-heading, .author-heading, .author-songs-heading {
    background: #f2f3fb;
    border: 0.6px solid midnightblue;
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}

.author-bio-text {
    padding: 0.5rem 1rem;
    margin: 0.75rem 0;
    background: #e9ecef;
    border-radius: 0.15rem;
    border: 1px solid rgba(0,0,0,.125);
}
.list-author-songs {
    margin: 0.75rem 0;
    background: #e9ecef;
    border-radius: 0.15rem;
    border: 1px solid rgba(0,0,0,.125);
}
.list-blog-posts {
    padding: 0.1rem 1rem 2.2rem;
    margin: 0.75rem 0;
    background: #e9ecef;
    border-radius: 0.15rem;
    border: 0.6px solid midnightblue;
}
.post-detail-heading {
    background: #f2f3fb;
    border: 0.6px solid midnightblue;
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.post-detail-heading > .row > .col-sm-12 > h5 {
    margin-top: 0.5rem;
}
.post-detail-subheading {
    background: #f2f3fb;
    border: 0.6px solid midnightblue;
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.post-body {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.list-comments {
    padding: 0.1rem 1rem 2.2rem;
    margin: 0.75rem 0;
    background: #e9ecef;
    border-radius: 0.15rem;
    border: 1px solid rgba(0,0,0,.125);
    border-top: none;
}
.comment-form {
    margin-bottom: 3rem;
}
.comment-box {
    height: 6rem;
    margin-bottom: 0.5rem;
}
.commenter-stats {
    background: white;
    border: 0.5px solid midnightblue;
    border-radius: 0.15rem;
    margin-top: -2px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 0 0.5rem;
}
.commenter-stats > .col-sm-12 > strong > span {
    font-size: 12px;
    margin-top: 0.15rem;
}
.commenter-stats > .col-sm-12 {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
}
.comment-detail-header {
    background: #f2f3fb;
    border: 0.6px solid midnightblue;
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.comment-detail-header > .row > .col-sm-12 > span.float-left {
    margin-top: 0.5rem;
}
.comment-detail-header > .row > .col-sm-12 > span.float-right {
    margin-top: 0.2rem;
}
.request-index-heading {
    background: #f2f3fb;
    border: 0.6px solid midnightblue;
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.request-index-heading > .row > .col-sm-12 > span {
    margin-top: 0.5rem;
}
.list-requests {
    padding: 0.1rem 1rem 2.2rem;
    margin: 0.75rem 0;
    background: #e9ecef;
    border-radius: 0.15rem;
    border: 0.6px solid midnightblue;
}
.request-detail-replies {
    padding: 0.1rem 1rem 2.2rem;
    margin: 0.75rem 0;
    background: #e9ecef;
    border-radius: 0.15rem;
    border: 0.6px solid midnightblue;
}
.request-detail-heading {
    background: #f2f3fb;
    border: 0.6px solid midnightblue;
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.request-detail-heading > .row > .col-sm-12 > span.float-left {
    margin-top: 0.5rem;
}
.request-detail-heading > .row > .col-sm-12 > span.float-right {
    margin-top: 0.2rem;
}
.list-songs {
    padding: 0.1rem 1rem;
    margin: 0.75rem 0;
    background: #e9ecef;
    border-radius: 0.15rem;
    border: 0.6px solid midnightblue;
}
.song-detail-header {
    background: #f2f3fb;
    border: 0.6px solid midnightblue;
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.song-detail-header span.float-left {
    font-size: 22px;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}
.song-detail-header span.float-right {
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
}

.song-detail-header span.detail-view-title {
    font-family: 'Inconsolata', monospace;
}
.song-about {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.song-scores {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.song-music {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.song-lyrical {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.score-list {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.15rem;
    margin-top: 0.5rem;
}
span.download-count {
    background: #f2f3fb;
    border-radius: 100%;
    padding: 2px 7px;
}
.score-pdf-container > img {
    margin: auto;
}
.score-pdf-container > img.score-png-preview {
    width: 40px;
    height: 40px;
    display: block;
}
.score-list-meta-container {
    padding: 0.3rem 0.5rem 0;
    margin-bottom: 0.5rem;
}
.score-list-drive-container {
    padding: 0.3rem 0.5rem 0;
    margin-bottom: 0.5rem;
}
.score-list-meta-container > button {
    padding-left: 3.5px;
    padding-right: 3.5px;
}
.score-list-meta-container > button > span {
    background: blanchedalmond;
}
.audio-list {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.15rem;
    margin-top: 0.5rem;
}
.audio-list-container > img {
    margin: auto;
}
.audio-list-meta-container {
    padding: 0.3rem 0.5rem 0;
    margin-bottom: 0.5rem;
}
.audio-list-drive-container {
    padding: 0.3rem 0.5rem 0;
    margin-bottom: 0.5rem;
}
.audio-list-stats-container {
    padding: 0.3rem 0.5rem 0;
    margin-bottom: 0.5rem;
}
.search-input-box {
    margin-top: 0.5rem;
}
.search-info-box {
    font-size: 14px;
}
.song-video {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.video-list {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.15rem;
    margin-top: 0.5rem;
}
.video-list-video-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.video-list-video-container > .row > .col-sm-6 {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}
.video-list-video-container > .row > .col-sm-6 > p.text-right {
    margin-bottom: 0;
    font-size: 14px;
    word-wrap: break-word;
}
.video-list-icon-container > .container {
    padding: 0.3rem 0.5rem 0;
}
.video-list-icon-container > .container > button {
    padding-left: 3.5px;
    padding-right: 3.5px;
}
.video-list-icon-container > .container > button > span {
    background: blanchedalmond;
}
.song-index-meta span.text-ocassion:not(:disabled):not(.disabled) {
    color: #dc3545;
}
.song-index-meta span.text-genre:not(:disabled):not(.disabled) {
    color: indigo;
}
.song-index-meta span.text-voicing:not(:disabled):not(.disabled) {
    color: darkblue;
}
.song-index-meta span.text-language:not(:disabled):not(.disabled) {
    color: darkslategrey;
}
.song-index-meta span.text-masspart:not(:disabled):not(.disabled) {
    color: brown;
}
.song-index-meta span.text-season:not(:disabled):not(.disabled) {
    color: purple;
}
.autosuggest-form {
    background: red;
    min-width: 100%;
    border-radius: 0.2rem;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.register-forms {
    max-width: 400px;
}
.register-btn {
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 5rem;
}
.siteuser-index-heading {
    background: #f2f3fb;
    border: 0.6px solid midnightblue;
    margin: 0.5rem 0;
    border-radius: 0.15rem;
    padding-bottom: 0.5rem;
}

.love-bird-detail, .siteuser-index-details {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.15rem;
    background: #fff;
}
.love-bird-detail > p.text-left, .siteuser-index-details > p.text-left {
    font-size: 14px;
    margin-top: 0.25rem;
    margin-bottom: 0;
}
.account-management-heading {
    background: #f2f3fb;
    border: 0.6px solid midnightblue;
    margin: 0.5rem 0;
    border-radius: 0.15rem;
}
.account-management-heading > .row > .col-sm-12 > span {
    margin-top: 0.5rem;
}
.administer-account {
    border-radius: 0.15rem;
}
.modal-backdrop {
    z-index: 1020;
}
.social-google {
    background: #8ac2ff;
    border-radius: 0.15rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}
.social-google .login-using-icon-div {
    background: #3071d5;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    width: 20%;
}
.social-google .login-using-icon {
    font-size: 22px;
    display: block;
    width: 30%;
    margin: auto;
    padding-top: 0.25rem;
}
.social-google .login-using-text-div {
    font-family: 'Inconsolata', monospace;
    background: #468dfa;
    border-top-right-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
    width: 80%;
}
.social-google .login-using-text {
    display: block;
}
.form-group {
    position: relative;
}
input#id_username {
    text-indent: 30px;
    position: relative;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}
input#id_password {
    text-indent: 30px;
    position: relative;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}
.fa-user {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 25px;
    color: rebeccapurple;
    border-right: 1px solid #ccc;
    padding-right: 5px;
}
.fa-unlock-alt {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 25px;
    color: rebeccapurple;
    border-right: 1px solid #ccc;
    padding-right: 5px;
}
.social-logins {
    font-size: 22px;
    border-radius: 0.15rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.social-logins > a {
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 3px;
}
.social-logins > a.google-login {
    background: #dd4b39;
}
.social-logins > a.facebook-login {
    background: #3b5998;
}
.social-logins > a.yahoo-login {
    background: #7B0099;
}
.social-logins > a.twitter-login {
    background: #00aced;
}
.login-form {
    max-width: 350px;
    margin: auto;
    padding-bottom: 1rem;
}
.login-btn {
    width: 100%;
}
.forgot-password-btn {
    width: 45%;
    margin-left: 0.3rem;
}
.join-btn {
    width: 45%;
    margin-right: 0.3rem;
}
.btn-md-span {
    vertical-align: middle;
    font-size: 22px;
}
.password-reset-conditions {
    border: 1px solid midnightblue;
    text-align: left;
    border-radius: 0.15rem;
}
a.likes-button-style, span.icon-buttons {
    float: left;
    padding: 3px 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 3px;
    margin: 2px 1px;
}
a.likes-button-style, button.likes-button-style {
    text-decoration: none;
}
a.likes-button-style > span.like-count-embed {
    border-right: 0.6px solid midnightblue;
    padding-right: 0.5rem;
}

span.star-icon-button {
    float: left;
    padding: 3px 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 3px;
    margin: 2px 1px;
}
span.star-icon-button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.large-print {
    padding: 40px 0;
    background: #ccd0f5;
}
.large-print-item {
    padding: 20px 10px;
    text-align: left;
}
.feeds {
    padding: 30px 0;
    background-color: #f2f3fb;
}
.feeds > .container > .row {
    text-align: center;
}
.fine-prints {
    padding: 30px 0;
}
.copyright {
    margin: 20px 0;
}
.feed-list {
    list-style: none;
    display: inline;
}
/* tbody tr:nth-child(even) {
    background-color: #e3e3e3;
}
tbody tr:nth-child(odd) {
    background-color: #efefef;
} */
.table td {
    padding: 0.2rem 0.5rem;
    border-top: 0;
}
.table th {
    padding: 0 0.5rem;
    border-bottom: 1px solid;
    background-color: #212529;
    border-color: #32383e;
}
.table {
    margin-bottom: 0;
}
.table tbody+tbody {
    border: none;
}
.pagination {
    text-align: center;
    font-weight: 600;
    display: block;
    padding: 1rem;
    margin: 0.75rem 0;
    background: #e9ecef;
    border-radius: 0.15rem;
    border: 0.6px solid;
}
a.icon-buttons, button.icon-buttons, span.icon-buttons {
    float: left;
    padding: 3px 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 3px;
    margin: 2px 1px;
}
a.icon-buttons {
    text-decoration: none;
}
span.icon-buttons:not(:disabled):not(.disabled) {
    cursor: default;
}
a.icon-buttons > span.like-count-embed {
    border-right: 0.6px solid midnightblue;
    padding-right: 0.5rem;
}
ul.messages {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.errorlist {
    text-align: left;
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.form-control {
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 0.15rem;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

#footer