@page {
    size : A4 portrait; margin : 0.5cm 0.25cm
}

@page {
   @bottom-right {
    content:"Page " counter(page) " of " counter(pages);
   }
}

table{
    /*table-layout: fixed;*/
    width: 100%;
    border-collapse:collapse;
    border:1px solid black;
    word-wrap: break-word;
    word-break: break-all;
}

h2 {
    color: #3abf58;
}

table th, td {
    padding: 0.3rem 0.2rem;
    text-align: left;
    vertical-align: middle;
    border: 1px solid midnightblue;
}

table th {
    font-size: 14px;
    color: midnightblue;
}

table td{
    color : blue;
    font-size: 12px;
}

tbody tr:nth-child(odd) {
    background-color: lightgrey;
}


/*combination of bootstrapp's btn btn-sm btn-success class*/
.pdf-btn {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    float: right!important;
}









