@page {
    size : A4 portrait; margin : 1.0cm 0.5cm
}

@page {
   @top-right {
    content:"Page " counter(page) " of " counter(pages);
   }
}

@page {
   @top-left {
    content:"ChoralCentral | Where sheet music lives";
   }
}

h1, h2, h3, h4, h5, h6 {
    color: darkblue;
    margin: 0;
}


a {
    text-decoration: none;
}
p {
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
}

span.song-title {
    color: midnightblue;
}

span.uploader {
    color: black;
    font-size: 14px;
}

.column-1 p, .column-2 p {
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
}

.about {
    min-width: 100%;
}

.lyrics {
    min-width: 100%;
    float: left;
}

.column-1 {
    float: left;
    /*position: relative;*/
    font-weight: 600;
    display: block;
    width: 50%;
    min-height: 1px;
}

.column-2 {
    float: right;
    /*position: relative;*/
    font-weight: 600;
    display: block;
    width: 50%;
    min-height: 1px;
}

*, ::after, ::before {
    box-sizing: border-box;
}
