@page {
    size : A4 portrait; margin : 1.0cm 0.5cm
}

@page {
   @top-right {
    content:"Page " counter(page) " of " counter(pages);
   }
}

@page {
   @top-left {
    content:"ChoralCentral | The best way to share sheet music";
   }
}

body {
    background: #f2f3fb;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: midnightblue;
    margin: 0;
}

h6 {
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}

.column-1 p, .column-2 p {
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
}

.about {
    min-width: 100%;
}

span.about-headers {
    color: #6868a8;
}

.lyrics {
    min-width: 100%;
    float: left;
}

.column-1 {
    float: left;
    /*position: relative;*/
    font-weight: 600;
    display: block;
    width: 50%;
    min-height: 1px;
}

.column-2 {
    float: right;
    /*position: relative;*/
    font-weight: 600;
    display: block;
    width: 50%;
    min-height: 1px;
}

*, ::after, ::before {
    box-sizing: border-box;
}
