
<script type="text/javascript">

    // Get csrftoken value in form
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // End get csrftoken

    $(document).ready(
        function() {

        $likePost = $('.like-post-on-click');

        $likePost.click(function() {
            $.ajax({
                method : 'POST',
                url : window.location.href,
                data : { like_what : 'post',  csrfmiddlewaretoken : csrftoken },
                success : function(data, textStatus, jqXHR){
                    if (data.success) {
                        console.log('Success')
                        alert(data.message)
                        // reload title box. This doesn't refresh the like button though.
                        $('#postTitleBox').load(window.location.href + " #postTitleBox>*","")
                    }
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    console.log('Failure')
                }
            })

        })    
        });
</script>
