<script type="text/javascript">
    // Get csrftoken value in form
        // using jQuery
    function getCookie(name) {
        console.log("Cookie function")
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
    console.log(csrftoken)

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // End get csrftoken
    
    $(document).ready(function() {
        var $commentForm = $('#commentForm');

        $commentForm.submit(function(event) {
            event.preventDefault()
            
            var comment = $('#id_comment').val();
            // $("input[name=csrfmiddlewaretoken]").val() get csrf_token from form
            console.log(comment);
            console.log(csrftoken);

            $.ajax({
                type : 'POST',
                url : window.location.href,
                data : {comment : comment, csrfmiddlewaretoken : csrftoken},
                success : function(data){
                    if (data.success) {
                        //alert(data.message)
                        // reload the comments section of the page                        
                        $('#commentsSection').load(window.location.href + " #commentsSection>*","")
                        // clear form input
                        $(':input','#commentForm').val("")
                        console.log(data.message)
                    }
                },
                error : function(jqXHR, textStatus, errorThrown){
                    console.log('Failed')
                    console.log(errorThrown)
                    console.log(textStatus)
                },
            });
        })
    })
</script>