{% extends "choralcentral_base.html" %}

{% block title %}New Comment{% endblock %}
{% block introBlock %}{% endblock introBlock %}


{% block search %}
<div class="instant-search text-center">
    <div class="container">
        <div class="row">
           <div class="col-sm-12">
                <h4>Search 
                    <a href="{% url 'blog:instant_blog' %}">posts</a>
                     or try <a href="{% url 'blog:auto_blog' %}">autocomplete</a>
                </h4>
           </div>
        </div>
    </div>
</div>
{% endblock search %}


{% block content %}
    <h4>Edit Comment</h4>
  
    {% if form.errors %}
        <p><strong>{{ form.errors }}</strong></p>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <table>
        {{ form }}
        </table>
        <input type="submit" value="Save">
            </div>
        </div>
    </form>
{% endblock %}

