{% extends "choralcentral_base.html" %}
{% block title %}{{ post }}{% endblock title %}
{% load blog_ttags %}
{% load social_share %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}
<div class='container post-detail-heading'>
    <div class='row'>
        <div class='col-sm-12'>
            <h5 class='text-left'>{{ post.title }}</h5>
            <hr>

            {% if post.subtitle %}
                <div class='col-sm-12 post-subtitle'>
                    {{ post.subtitle|markdown_format }}
                </div>
            {% endif %}

            {% if post.song %}
                <div class='col-sm-12 post-song'>
                    <p>on <a href="{% url 'song:detail' post.song.pk post.song.slug %}">{{ post.song }}</a></p>
                </div>
            {% endif %}

            <div class='col-sm-12 post-subtitle'>
                <p><em><a href="{% url 'siteuser:detail' post.creator.pk post.creator.slug %}">
                        {{ post.creator.screen_name }}</a> | Posted {{ post.created|date }} | Modified {{ post.modified|date }}</em>
                </p>
            </div>

            <span class="btn btn-sm btn-primary icon-buttons float-left" title="Comments">
                <span>{{ post.comment_set.count }}</span> <i class="fas fa-comments"></i>
            </span>

            <span class='h5 float-right song-icons'>
                {% if user.is_authenticated %}
                    {% if request.user.siteuser in post.likes.all %}
                        <a class="btn btn-sm btn-primary icon-buttons" href="" id="like" name="{{ post.pk }}" value="Like" title="unstar this post"><i class="fas fa-star"></i> Unstar</a>
                        {% include 'blog/post_like_script.html' %}
                    {% else %}
                        <a class="btn btn-sm btn-primary icon-buttons" href="" id="like" name="{{ post.pk }}" value="Like" title="star this post"><i class="fas fa-star"></i> Star</a>
                        {% include 'blog/post_like_script.html' %}
                    {% endif %}
                {% else %}
                    <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'siteuser:login' %}" title="Login to give a star">Login to star this post</a>
                {% endif %}

                {% with post.title as link_text %}
                    {% post_to_facebook post link_text %}
                {% endwith %}

                {% with post.title as link_text %}
                    {% post_to_twitter "Check out {{post.title}}" post link_text %}
                {% endwith %}

                <a class="btn btn-sm btn-primary icon-buttons"href="" title="Email {{ post.title }}" data-toggle="modal" data-target="#postModal">
                    <i class="fas fa-at"></i>
                </a>
                {% include 'blog/post_share_modal.html' %}
            </span>
        </div>
    </div>
</div>

<div class='container post-body'>
    {{ post.body|markdown_format }}
</div>
<hr>

    {% for comment in comments %}
        <div class="list-comments">
            <div class="row commenter-stats">
                <div class='col-sm-12'>
                    <strong>
                        <a href="{% url 'siteuser:detail' comment.creator.pk comment.creator.slug %}">{{ comment.creator.screen_name }}</a>
                        <span class="float-right">
                            <span title="Comment date">{{ comment.created|date }}</span> |
                            <span title="Modified">{{ comment.modified|date }}</span>
                        </span>
                    </strong>
                </div>
            </div>

            <div class='comment-body'>
                {{ comment.comment|markdown_format }}
            </div>

            <span class='float-left'>
                <span class="btn btn-sm btn-primary icon-buttons" href="" title="Total likes">
                    <span>{{ comment.like_count }}</span> <i class="fas fa-star"></i>
                </span>
            </span>

            <span class="float-right">
                {% if request.user == comment.creator.user %}
                    <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'blog:edit_comment' comment.pk %}" title="Edit"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'blog:comment_delete' comment.pk %}" title="Delete"><i class="fas fa-trash"></i></a>
                {% endif %}
                <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'blog:comment_reply' comment.pk post.pk %}" title="Reply"><i class="fas fa-reply"></i></a>
            </span>
        </div>
    {% empty %}
        <p>No comments on this post at this time.</p>
    {% endfor %}

    {% if user.is_authenticated %}
        <form action="{% url 'blog:new_comment' post.pk %}" method="post" enctype="multipart/form-data" class='comment-form'>
            {% csrf_token %}
            {{ comment_form.comment }}
            <button class="btn btn-primary btn-sm float-right" type="submit" value="Post Comment">Post Comment</button>
        </form>
    {% else %}
        <p><a href="{% url 'blog:new_comment' post.pk %}">Comment</a> on this post</p>
    {% endif %}
{% endblock content_content %}

