{% extends "choralcentral_base.html" %}

{% block title %}Blog{% endblock %}
{% block content_content %}

<h2>Blog Posts
    <span class="float-right"><a class="btn btn-primary" href="{% url 'blog:new' %}">New post</a></span>
</h2>

{% for post in posts %}
    <div class="list-items">
        <h4><a href="{% url 'blog:detail' post.pk post.slug %}">{{ post }}</a></h4>

        {% if post.song %}
            <h6> on <a href="{% url 'song:detail' post.song.pk post.song.slug %}">{{ post.song }}</a></h6>
        {% endif %}

        <h6><em>
            by <a href="{% url 'siteuser:detail' post.creator.pk post.creator.slug %}">{{ post.creator.screen_name }}</a>
            | {{ post.created }}
            </em>
        </h6>
        <div>
            <span class="h5 float-left">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fas fa-envelope"></i></a>

            <!-- Modal -->
                <a href='' title="Share by email" data-toggle="modal" data-target="#emailModal"><i class="fas fa-at"></i></a>
                {% include 'blog/get_email_modal.html' %}
            </span>

            <span class="h5 float-right">
                <span>{{ post.like_count }} <i class="fas fa-star"></i></a>
                <span>{{ post.comment_set.count }} <i class="fas fa-comments"></i></span>
            </span>
        </div>
    </div>
{% empty %}
    <p>No posts added yet</p>
{% endfor %}

{% endblock content_content %}

