{% extends "choralcentral_base.html" %}
{% block title %}Blog{% endblock %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Blog posts</h3>
    </div>
</div>

{% for post in posts %}
    <div class="list-blog-posts">
        <h4><a href="{% url 'blog:detail' post.pk post.slug %}">{{ post }}</a></h4>

        {% if post.song %}
            <h6> on <a href="{% url 'song:detail' post.song.pk post.song.slug %}">{{ post.song }}</a></h6>
        {% endif %}

        <h6><em>
            by <a href="{% url 'siteuser:library' post.creator.pk post.creator.slug %}">{{ post.creator.screen_name }}</a>
            | {{ post.created }}
            </em>
        </h6>

        <span class="float-right">
            <span class="btn btn-sm btn-primary icon-buttons" title="{{ post.like_count }} stars">{{ post.like_count }} Star{{ post.like_count|pluralize }}  </span>
            <a class="btn btn-sm btn-primary likes-button-style" href="Star this post"><i class="fas fa-star"></i> Star/Unstar</a>
            <span class="btn btn-sm btn-primary icon-buttons" title="{{ post.comment_set.count }} Comments">{{ post.comment_set.count }} <i class="fas fa-comments"></i></span>
        </span>
    </div>
{% empty %}
    <p style="margin-bottom:25rem">No post.</p>
{% endfor %}

{% endblock content_content %}

