{% extends "choralcentral_base.html" %}

{% block title %}Blog{% endblock %}


{% block content_content %}


<div>
    <h2>Blog Posts
            <span class="float-right"><a class="btn btn-primary" href="{% url 'blog:new' %}">New post</a></span>
    </h2>
    
</div>

    {% if posts %}
        <div class="list-group">
            {% for post in posts %}
                <div class="list-group-item list-group-item-action  list-group-item-primary">
                    <h3><a href="{% url 'blog:detail' post.pk post.slug %}">{{ post }}</a></h3>

                    <h4> by
                        <a href="{% url 'siteuser:detail' post.creator.pk post.creator.slug %}">{{ post.creator.screen_name }}</a> 
                        on {{ post.created }}
                    </h4>
                    <span class="float-left">
                        {% if post.song %}
                            <h5> on <a href="{% url 'song:detail' post.song.pk post.song.slug %}">{{ post.song }}</a></h5>
                        {% endif %}
                    </span>

                    <span class="float-right">
                        <h4>
                            {% with post.comment_set.count as total_comments %}
                                <span class="badge badge-light badge-pill">{{ total_comments }}</span> comment{{ total_comments|pluralize }}
                            {% endwith %}
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fas fa-envelope"></i></a>
                        </h4>
                    </span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No posts added yet</p>
    {% endif %}
</div>
{% endblock content_content %}


