{% extends "choralcentral_base.html" %}
{% load static %}
{% load blog_ttags %}

{% block content_content %}
    <!-- search box -->
    <div class="row">
        <div class="col-sm-12">
            <input id="q" name="q" placeholder="Search posts" autocomplete="off" autocorrect="false" spellcheck="false" class="form-control" type="search">
        </div>
    </div>
    <!-- end search box -->

    <div class="row">
        <div class="col-sm-12" id="hits-stat"></div>
    </div>

    <div class="row">
        <div class="col-sm-12 d-none" id="no-hits"></div>
    </div>

    {% if posts %}
    <div class="list-group" id="hits-container">
        {% for post in posts %}
            <div class="list-group-item  list-group-item-primary">
                <h5><a href="{% url 'blog:detail' post.pk %}">
                    {{ post }}</a>
                </h5>
                <p> by
                    <a href="{% url 'siteuser:detail' post.creator.pk %}">
                    {{ post.creator.screen_name }}</a> on {{ post.created }}
                </p>
                
                {% if post.song %}
                    <h6> on <a href="{% url 'song:detail' post.song.pk post.song.slug %}">{{ post.song }}</a></h6>
                {% endif %}
                <span class="h5 float-sm-right">
                    {% with post.comment_set.count as total_comments %}
                        <span class="badge badge-light badge-pill">{{ total_comments }}</span> comment{{ total_comments|pluralize }}
                    {% endwith %}
                    <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </span>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No posts added yet</p>
{% endif %}
{% endblock content_content %}




{% block javascript %}
<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>

{% verbatim %}
<script type="text/template" id="hit-template">
    <div class="list-group-item  list-group-item-primary">

        <a href="{{ get_absolute_url }}">
            <h5 class="list-group-item-heading">{{{ _highlightResult.title.value }}}</h5>
        </a>

        <h5>{{{ _highlightResult.subtitle.value }}}</h5>
        <p>{{{ _highlightResult.body.value }}}</p>
    </div>
</script>
{% endverbatim %}

<script>
$(document).ready(function() {
    var $inputField = $('#q');
    var $hitsContainer = $('#hits-container');
    var $noHits = $('#no-hits');
    var $hitsStat = $('#hits-stat');
    var hitTemplate = Hogan.compile($('#hit-template').text());

    var client = algoliasearch('{{ appID }}', '{{ searchKey }}');
    var helper = algoliasearchHelper(client, '{{ indexName }}');

    $('.search-terms a').click(function(e) {
        $inputField.val($(this).text()).change().focus();
        $inputField.keyup();
    });

    $inputField.on('keyup', function() {
        var query = $inputField.val();
        helper.setQuery(query).search();
    }).focus();

    helper.on('result', function(data) {
    renderHits(data);
    });

    helper.search(); // first search

    function renderHits(content) {
    var hitsHtml = '';

    if (content.hits.length === 0) {
        hitsHtml = '<p class="text-center text-danger lead">We didn\'t find any results for your search.</p>';
        $noHits.html(hitsHtml);
        $noHits.removeClass('d-none');
        $hitsContainer.addClass('d-none');
    } else {
        for (var i = 0; i < content.hits.length; ++i) {
        hitsHtml += hitTemplate.render(content.hits[i]);
        }

        $hitsContainer.html(hitsHtml);
        $hitsContainer.removeClass('d-none');
        $noHits.addClass('d-none');
    }

    $hitsStat.html('<p class="text-right">Found <b>' +
        content.nbHits + '</b> results in <b>' + content.processingTimeMS + '</b>ms - ' +
        'by <a href="http://www.algolia.com"><img src="{% static "img/logo-algolia.png" %}" /></a></p>'
    );
    }
});
</script>
{% endblock %}

