{% extends "choralcentral_base.html" %}

{% block title %}New post{% endblock %}

{% block wrap_content  %}{% endblock wrap_content  %}

{% block search %}{% endblock search %}

{% block content_content %}

<div class="container upload-forms">
    <h2>New Blog Post</h2>
    
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}
    
        <button  class="btn btn-primary btn-md float-right" type="submit" value="Post">Post</button>
    </form>
</div>
{% endblock %}

