<!DOCTYPE html>
<html>
    <head>
        {% load blog_ttags %}
        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/reader_view.css' %}">
        <title>ChoralCentral | Where sheet music lives</title>
    </head>

    <body>
        <h2>Post share from <a href="http://www.choralcentral.net/">ChoralCentral</a> | <span class='song-title'>{{ post.title }}</span></h2>
        <hr>

        <p>Hello, <br>
            {% if name %}{{ name|title }}{% else %}Someone{% endif %} would like you to see <a href="{{ post_link }}">{{ post.title|title }}</a> over on
            <a href="http://www.choralcentral.net">ChoralCentral</a>
        </p>

        <div class='lyrics'>
            <hr>
            {{ post.body|markdown_format }}
        </div>
    </body>
</html>
