
<script type="text/javascript">

    // Get csrftoken value in form
    // using jQuery
    function getCookie(name) {
        console.log("Cookie function")
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
    console.log(csrftoken)

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // End get csrftoken

    $(document).ready(
        function() {

        $likeScore = $('.like-score-{{ forloop.counter}}-on-click');

        $likeScore.click(function() {
            var pk = $(this).attr('data-pk');
            var model = $(this).attr('data-model');
            var appLabel = $(this).attr('data-app-label');
            console.log("model", model)
            console.log("app label", appLabel)

            $.ajax({
                method : 'POST',
                url : window.location.href,
                
                data : {
                    pk : pk, model : model, app_label : appLabel,
                    csrfmiddlewaretoken : csrftoken
                },
                success : function(data, textStatus, jqXHR){
                    if (data.success) {
                        alert(data.message)
                        console.log(data)
                        var scoreStatBox = '#scoreDetailBox{{ forloop.counter }}'
                        console.log(scoreStatBox)
                        // reload title box. This doesn't refresh the like button itself.
                        $(scoreStatBox).load(window.location.href +" " + scoreStatBox + ">*","")
                    }
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    console.log('Failure to like')
                }
            })

        })    
        });
</script>
