{% extends "choralcentral_base.html" %}
{% if song %}{% block title %}{{ song }}{% endblock title %} {% endif %}
{% load thumbnail %}
{% load static %}
{% load song_ttags %}

{% block introduction %}{% endblock introduction %}
{% block content_content %}

<div class='container'>
    <div class='row'>
        <div class='col-sm-12 head-title'>
            <span class='h5 float-left'>{{ song.title }}</span>

            <span class='float-right song-icons'>
                {% if user.is_authenticated %}

                    {% if request.user.siteuser in song.likes.all %}
                        <button class="icon-buttons-left">
                            <a href="" id="like" name="{{ song.pk }}" value="Like" title="unstar this song"><i class="fas fa-star"></i> Unstar</a>
                            {% include 'song/song_like_script.html' %}
                        </button>
                    {% else %}
                        <button class="icon-buttons-left">
                            <a href="" id="like" name="{{ song.pk }}" value="Like" title="star this song"><i class="fas fa-star"></i> Star</a>
                            {% include 'song/song_like_script.html' %}
                        </button>
                    {% endif %}

                {% else %}
                    <button class="icon-buttons-left">
                        <a href="{% url 'siteuser:login' %}">Login to star this song</a>
                    </button>
                {% endif %}

                <button class="icon-buttons-center">
                    <a data-toggle="tooltip" data-placement="top" aria-hidden="true" href="{% url 'song:share_on_facebook' song.pk song.slug %}" title="FB Share">
                    <i class="fab fa-facebook"></i></a>
                </button>

                <button class="icon-buttons-right" title="Share" data-toggle="modal" data-target="#emailModal">
                        <i class="fas fa-at"></i>
                </button>
                {% include 'song/song_share_modal.html' %}

            </span>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <h5 class="my-4 text-left">About</h5>

    <div class="row text-left">
        <div class="col-lg-6 my-2">
            <div class="row">
                <div class="col-sm-12">
                    <span class="h6 float-left">Uploader</span>
                    <span class="h6 float-right"><a href="{% url 'siteuser:detail' song.originator.pk song.originator.slug %}">{{ song.originator.screen_name }}</a></span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">For</span>
                    <span class="h6 float-right">{{ song.voicing }}</span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">Tempo</span>
                    <span class="h6 float-right">{{ song.tempo }}</span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">Performed</span>
                    <span class="h6 float-right">{{ song.tempo_text }}</span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">Timing</span>
                    <span class="h6 float-right">{{ song.bpm }}/{{ song.divisions }}</span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">Scripture</span>
                    <span class="h6 float-right">{{ song.scripture_reference }}</span>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 my-2">
            <div class="row">
                
                <div class="col-sm-12">
                    <span class="h6 float-left">Language</span>
                    <span class="h6 float-right">{{ song.language|upper }}</span>
                </div>
                <div class="col-sm-12">
                    <span class="h6 float-left">Seasons</span>
                    <span class="h6 float-right text-left">
                        {% for season in song.seasons.all %}
                        {{ season }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </span>
                </div>
                
                <div class="col-sm-12">
                    <span class="h6 float-left">Massparts</span>
                    <span class="h6 float-right">
                        {% for masspart in song.mass_parts.all %}
                        {{ masspart }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </span>
                </div>
                
                <div class="col-sm-12">
                    <span class="h6 float-left">Authors</span>
                    <span class="h6 float-right">
                        {% for author in song.authors.all %}
                        {{ author }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">Composed</span>
                    <span class="h6 float-right">{{ song.compose_date }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <h5 class="my-4 text-left">
        Scores
        <span class="float-right">
            <a class="btn btn-primary btn-sm" href="{% url 'song-media:score_add_song' song.pk %}">Add score</a>
        </span>
        </h5>
    <hr>

    <div class="row text-left">
        {% for score in song.score_set.all %}
            <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 my-2" style="border: 1px solid">
                <a href="{% url 'song-media:score_view' score.pk %}" target="_blank">
                    <i class="fas fa-file-pdf fa-3x"></i>
                </a>
                <div class='divider'></div>
                <p class="text-left"><a href="{% url 'siteuser:detail' score.uploader.pk score.uploader.slug %}">{{ score.uploader.screen_name }}</a></p>
                <p class="text-left">{{ score.part }}</p>
                <p class="text-left">{{ score.notation }}</p>
                <p class="text-left">{{ score.score_likes }}<a href=""><i class="fas fa-star"></i></a></p>
                <p class="text-left">{{ score.downloads }} views</p>
                <p class='text-left'>
                    {% if request.user == score.uploader.user %}
                        <a href=""><i  class="fas fa-edit"></i></a> &emsp;
                        <a href="{% url 'song-media:delete_score' score.pk song.pk song.slug %}"><i class="fas fa-trash"></i></a>
                    {% endif %}
                </p>
            </div>
        {% empty %}
            <p>No score.</p>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h5 class="my-4 text-left">
        Midis
        <span class="float-right">
            <a class="btn btn-primary btn-sm float-right" href="{% url 'song-media:midi_add_song' song.pk %}">Add midi</a>
        </span>
        </h5>
    <hr>

    <div class="row text-left">
        {% for midi in song.midi_set.all %}
            <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 my-2">

                {% if '.mp3' in midi.media_file.url %}
                    <i class="fas fa-music fa-3x"></i>
                        <div class='container'>
                            <div class='row'>
                                <audio controls>
                                  <source src="{{ midi.media_file.url }}" type="audio/mpeg">
                                  <source src="{{ midi.media_file.url }}" type="audio/ogg">
                                  Your browser does not support the sound element.
                                </audio>
                            </div>
                        </div>
                {% else %}
                    <i class="fas fa-music fa-3x"></i>
                        <div class='container'>
                            <div class='row'>
                                <div class='midi-controls' style="height: 32px;">
                                    <a href="#" onClick="MIDIjs.play('{{ midi.media_file.url }}');"><i class='fas fa-play'></i></a> &emsp;
                                    <a href="#" onClick="MIDIjs.stop();"><i class='fas fa-stop'></i></a> &emsp;
                                    <a href="{% url 'song-media:download_midi' midi.pk %}"><i class="fas fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                {% endif %}

                <p class='text-left'><a href="{% url 'siteuser:detail' midi.uploader.pk midi.uploader.slug %}">{{ midi.uploader.screen_name }}</a></p>
                <p class='text-left'>{{ midi.part }}</p>
                <p class='text-left'>{{ midi.midi_likes }}<a href=""><i class="fas fa-star"></i></a></p>
                <p class='text-left'>{{ midi.downloads }} views</p>
                <p class='text-left'>
                    {% if user == midi.uploader.user %}
                        <a href=""><i class="fas fa-edit"></i></a> &emsp;
                        <a href="{% url 'song-media:delete_midi' midi.pk song.pk song.slug %}"><i  class="fas fa-trash"></i></a>
                    {% endif %}
                </p>

            </div>
        {% empty %}
            <p>No midi.</p>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h5 class="my-4 text-left">
        Video links
        <span class="float-right">
            <a class="btn btn-primary btn-sm" href="{% url 'song-media:videolink_new_song' song.pk %}">Add a link</a>
        </span>
    </h5>
    <hr>

    <div class="row text-left">
        {% for link in song.videolink_set.all %}
            <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 my-2" style="border: 1px solid">
                <i class="fab fa-youtube fa-3x"></i>
                <div class='divider'></div>
                <p class="text-left"><a href="{% url 'siteuser:detail' link.uploader.pk link.uploader.slug %}">{{ link.uploader.screen_name }}</a></p>
                <p class="text-left">{<a href="{{ link.video_link }}" target="_blank">{{ link.video_link|urlencode }}</a></p>
            </div>
        {% empty %}
            <p>No video link.</p>
        {% endfor %}
    </div>
</div>

<hr>
<h5>Lyrics</h5>
{{ song.lyrics|markdown_format }}
{% endblock content_content %}

