{% extends "choralcentral_base.html" %}

{% if song %}{% block title %}{{ song }}{% endblock title %} {% endif %}

{% block wrap_filter %}{% endblock wrap_filter %}
{% load song_ttags %}

{% block content_content %}

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h2>{{ song.title }}

                {% if user.is_authenticated %}

                <!-- like script -->
                <button class="fa fa-star btn btn-primary" type="submit" id="like" title="{{ song.pk }}" value="Like"></button>

                <script>
                $('#like').click(function(){
                    $.ajax({
                        type: "POST",
                        url: "{% url 'song:like_song' %}",
                        data: {'pk': $(this).attr('title'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        dataType: "json",
                        success: function(response) {
                                alert(response.message);
                        },
                        error: function(rs, e) {
                                alert(rs.responseText);
                        }
                    });
                    })
                </script>

                {% else %}
                    <p class="h4"><a href="{% url 'login' %}?next={{ request.path }}">login</a> to give a star</p>
                {% endif %}
                <!-- end like script -->
                {% if song.originator.user == user %}
                <span class="mx-right">
                    <a class="fa fa-pencil" aria-hidden="true" href="{% url 'song:edit' song.pk song.slug %}"></a> |
                    <a class="fa fa-trash" aria-hidden="true" href="{% url 'song:delete' song.pk %}"></a>
                </span>
            {% endif %}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive-md">
                <thead class="thead-light">
                    <caption>Performance metadata</caption>
                    <tr>
                        <th>For</th>
                        <th>Performed</th>
                        <th>Tempo</th>
                        <th>Timing</th>
                        <th>Scripture</th>
                        <th>By</th>
                        <th>Date</th>
                        <th>Composed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ song.voicing }}</td>
                        <td>{{ song.tempo_text }}</td>
                        <td>{{ song.tempo }}</td>
                        <td>{{ song.bpm }}/{{ song.divisions }}</td>
                        <td>{{ song.scripture_ref }}</td>
                        <td><a href="{% url 'siteuser:detail' song.originator.pk song.originator.slug %}">{{ song.originator.screen_name }}</td>
                        <td>{{ song.created|date:"d-M-Y" }}</td>
                        <td>{{ song.compose_date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- END SHEET -->

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive-md">
                <thead class="thead-light">
                    <caption>Metadata</caption>
                    <tr>
                        <th>Seasons</th>
                        <th>Masspart</th>
                        <th>Authors</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {% for season in song.seasons.all %}
                                <a href="#">{{ season }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for masspart in song.mass_parts.all %}
                                <a href="#">{{ masspart }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for author in song.authors.all %}
                                <a href="{% url 'author:detail' author.pk author.slug %}">{{ author }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- scores -->
    <div class="row">
        <div class="col-sm-12">
            <h4>Scores <a href="{% url 'song-media:score_add_song' song.pk %}"><i class="fa fa-plus" aria-hidden="true"></i></a></h4>
        </div>
    </div>

    <table class="table table-responsive-md">
        <thead class="thead-light">
            <caption>Scores</caption>
            <tr>
                <th>#</th>
                <th>Parts</th>
                <th>Notations</th>
                <th>Uploader</th>
                <th><i class="fa fa-star" aria-hidden="true"></th>
                <th>Action</th>
            </tr>
        </thead>
        {% if song.score_set.all %}
        <tbody>
            {% for score in song.score_set.all %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td><a href="{% url 'song-media:score_view' score.pk %}" target="blank">{{ score.score_parts }}</a></td>
                    <td>{{ score.score_notations }}</td>
                    <td><a href="{% url 'siteuser:detail' score.uploader.pk score.uploader.slug %}">{{ score.uploader.screen_name }}</a></td>
                    <td><a href="">{{ score.score_likes }}</a></td>
                    <td><a href="" class="fa fa-pencil"></a> | <a href="{% url 'song-media:delete_score' score.pk song.pk song.slug %}" class="fa fa-trash"></a></td>
                </tr>
            {% endfor %}
        </tbody>
        {% else %}
            <p>No music score uploaded for this song</p>
        {% endif %}
    </table>
        <!-- END SHEET -->

    <!-- midi -->
    <div class="row">
        <div class="col-sm-12">
            <h4>Midis <a href="{% url 'song-media:midi_add_song' song.pk %}"><i class="fa fa-plus"></i></a></h4>
        </div>
    </div>

    <table class="table table-responsive-md">
        <thead class="thead-light">
            <caption>Midis</caption>
            <tr>
                <th>#</th>
                <th>Parts</th>
                <th>Uploader</th>
                <th><i class="fa fa-star" aria-hidden="true"></th>
                <th>Action</th>
            </tr>
        </thead>
        {% if song.midi_set.all %}
            <tbody>
                {% for midi in song.midi_set.all %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td><a href="{% url 'song-media:play_midiview' midi.pk %}" target="blank">{{ midi.midi_parts }}</a></td>
                        <td><a href="{% url 'siteuser:detail' midi.uploader.pk midi.uploader.slug %}">{{ midi.uploader.screen_name }}</a></td>
                        <td><a href="">{{ midi.midi_likes }}</a></td>
                        <td><a href="" class="fa fa-pencil"></a> | <a href="{% url 'song-media:delete_midi' midi.pk song.pk song.slug %}" class="fa fa-trash"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <p>No midis uploaded for this song</p>
        {% endif %}
    </table><!-- END AUDIO -->

    <div class="row">
        <div class="col-sm-12">
            <h4>Videos <a href="{% url 'song-media:videolink_new_song' song.pk %}"><i class="fa fa-plus"></i></a></h4>
            {% if song.videolink_set.all %}
                {% for link in  song.videolink_set.all %}
                    <a href="{{ link.video_link }}" target="_blank">{{ link.video_link }}</a>{% if not forloop.last %} | {% endif %}
                {% endfor %}
            {% else %}
                <p>No video links added for this song</p>
            {% endif %}
        </div>
    </div><!-- END VIDEO -->

    <div class="row">
        <div class="col-sm-12">
            <h4>Lyrics</h4>
            {{ song.lyrics|markdown_format }}
        </div>
    </div>
</div>
{% endblock content_content %}


