{% extends "choralcentral_base.html" %}
{% if song %}{% block title %}{{ song }}{% endblock title %} {% endif %}
{% load thumbnail %}
{% load social_share %}
{% load static %}
{% load song_ttags %}

{% block introduction %}{% endblock introduction %}

{% block content_content %}

<div class='container-fluid song-detail-header'>
    <div class='row'>
        <div class='col-sm-12 head-title'>
            <span class='float-left'>{{ song.title }}</span>

            <span class='float-right song-icons'>
                <a class="btn btn-sm btn-primary icon-buttons" title="Stars">{{ song.like_count }}</a>

                {% if user.is_authenticated %}
                    {% if request.user.siteuser in song.likes.all %}
                        <a class="btn btn-sm btn-primary icon-buttons" href="" id="like" name="{{ song.pk }}" value="Like" title="unstar this song"><i class="fas fa-star"></i> Unstar</a>
                        {% include 'song/song_like_script.html' %}
                    {% else %}
                        <a class="btn btn-sm btn-primary icon-buttons" href="" id="like" name="{{ song.pk }}" value="Like" title="star this song"><i class="fas fa-star"></i> Star</a>
                        {% include 'song/song_like_script.html' %}
                    {% endif %}
                {% else %}
                    <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'siteuser:login' %}">Login to give a star</a>
                {% endif %}

                <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'blog:new_song' song.pk %}" title="Make a post about {{ song.title }}"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'song:reader_view' song.pk song.slug %}" title="Print {{ song.title }} in pdf format" target="_blank"><i class="fas fa-print"></i></a>

                {% with song.title as link_text %}
                    {% post_to_facebook song link_text %}
                {% endwith %}

                {% with song.title as link_text %}
                    {% post_to_twitter "Check out {{song.title}}" song link_text %}
                {% endwith %}

                <a class="btn btn-sm btn-primary icon-buttons" href="" title="Email {{ song.title }}" data-toggle="modal" data-target="#emailModal">
                <i class="fas fa-at"></i></a>

                {% include 'song/song_share_modal.html' %}
            </span>
        </div>
    </div>
</div>

<div class="container song-about">
    <h5 class="my-2 text-left">About</h5>
    <hr>

    <div class="row text-left">
        <div class="col-lg-6 my-2">
            <div class="row">

                <div class="col-sm-12">
                    <span class="h6 float-left">Ocassion</span>
                    <span class="h6 float-right">{{ song.ocassion|title }}</span>
                </div>
                <div class="col-sm-12">
                    <span class="h6 float-left">Genre</span>
                    <span class="h6 float-right">{{ song.genre|title }}</span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">For</span>
                    <span class="h6 float-right">{{ song.voicing|upper }}</span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">Tempo</span>
                    <span class="h6 float-right">{{ song.tempo }}</span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">Performed</span>
                    <span class="h6 float-right">{{ song.tempo_text }}</span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">Timing</span>
                    <span class="h6 float-right">{{ song.bpm }}/{{ song.divisions }}</span>
                </div>
            </div>
        </div>

        <div class="col-lg-6 my-2">
            <div class="row">
                <div class="col-sm-12">
                    <span class="h6 float-left">Uploader</span>
                    <span class="h6 float-right"><a href="{% url 'siteuser:library' song.originator.pk song.originator.slug %}">{{ song.originator.screen_name }}</a></span>
                </div>
                <div class="col-sm-12">
                    <span class="h6 float-left">Language</span>
                    <span class="h6 float-right">{{ song.language|upper }}</span>
                </div>
                <div class="col-sm-12">
                    <span class="h6 float-left">Seasons</span>
                    <span class="h6 float-right text-left">
                        {% for season in song.seasons.all %}
                        {{ season }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">Massparts</span>
                    <span class="h6 float-right">
                        {% for masspart in song.mass_parts.all %}
                        {{ masspart }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">Authors</span>
                    <span class="h6 float-right">
                        {% for author in song.authors.all %}
                        <a href="{% url 'author:detail' author.pk author.slug %}">{{ author }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </span>
                </div>

                <div class="col-sm-12">
                    <span class="h6 float-left">Composed</span>
                    <span class="h6 float-right">{{ song.compose_date }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container song-scores">
    <h5 class="my-2 text-left">
        Scores
        <span class="float-right">
            <a class="btn btn-primary btn-sm" href="{% url 'song-media:score_add_song' song.pk %}">Add score <i class="fas fa-upload"></i></a>
        </span>
        </h5>
        <hr>

    <div class="row">
        {% for score in song.score_set.all %}
            <div class="col-sm-6 col-md-4 col-lg-3 py-2 px-0 score-list">
                <!--<div class="container score-list-pdf-container">-->

                <!--    {% thumbnail score.thumbnail "80x80" crop="center" as im %}-->
                <!--       <a href="{{ score.thumbnail.url }}" target="_blank"><img alt="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card" title="Preview first page"></a>-->
                <!--    {% empty %}-->
                <!--       <img alt="" src="{% static 'img/django-logo.png' %}" width="1250" height="160" class="img-fluid card">-->
                <!--    {% endthumbnail %}-->
                    <!--<img src="{{ score.thumbnail.url }}" class="card center" width="120" height="160">-->
                <!--</div>-->

                <div class="row score-list-meta-container">
                    <div class="container">
                        <a class="btn btn-sm btn-primary icon-buttons" href="{{ score.thumbnail.url }}" title="Preview first page">Preview first page</a>
                        <a class="btn btn-sm btn-primary icon-buttons" title="{{ score.part|title }}">{{ score.part }}</a>
                        <a class="btn btn-sm btn-primary icon-buttons" title="{{ score.notation|title }}">{{ score.notation }}</a>
                        <a class="btn btn-sm btn-primary icon-buttons" title="Filesize: {{ score.fsize|filesizeformat }}">{{ score.fsize|filesizeformat }}</a>
                        <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'siteuser:library' score.uploader.pk score.uploader.slug %}" title="{{ score.uploader.screen_name }}"> {{ score.uploader.screen_name }}</a>

                        <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'song-media:show_score' score.pk %}" target="_blank" title="Click to Download: {{ score.downloads }} total downloads">
                            <span class="download-count">{{ score.downloads }}</span> <i class="fas fa-download"></i></a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="container"><p>No score.</p></div>
        {% endfor %}
    </div>
</div>

<div class="container song-music">
    <h5 class="my-2 text-left">
        Midis
        <span class="float-right">
            <a class="btn btn-primary btn-sm float-right" href="{% url 'song-media:midi_add_song' song.pk %}">Add midi <i class="fas fa-upload"></i></a>
        </span>
        </h5>
        <hr>

    <div class="row text-left">
        {% for midi in song.midi_set.all %}
            <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 px-0 audio-list">
                <div class="row audio-list-meta-container">
                    <div class="container">
                        {% if midi.fformat == 'mp3' %}
                            <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'song-media:playmp3' midi.pk %}" title="Play {{ midi }}">{{ midi.fformat }}</a>
                        {% else %}
                            <a class="btn btn-sm btn-primary icon-buttons" title="File format: {{ midi.fformat }}">{{ midi.fformat }}</a>
                        {% endif %}
                        <a class="btn btn-sm btn-primary icon-buttons" title="{{ midi.part }}">{{ midi.part }}</a>
                        <a class="btn btn-sm btn-primary icon-buttons" title="Filesize: {{ midi.fsize|filesizeformat }}">{{ midi.fsize|filesizeformat }}</a>
                        <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'siteuser:library' midi.uploader.pk midi.uploader.slug %}" title="{{ midi.uploader.screen_name }}">{{ midi.uploader.screen_name }}</a>
                        <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'song-media:download_midi' midi.pk %}" target="_blank" title="Click to Download: {{ midi.downloads }} total downloads">
                            <span class="download-count">{{ midi.downloads }}</span> <i class="fas fa-download"></i></a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="container"><p>No audio</p></div>
        {% endfor %}
    </div>
</div>

<div class="container song-video">
    <h5 class="my-2 text-left">
        Video links
        <span class="float-right">
            <a class="btn btn-primary btn-sm" href="{% url 'song-media:add_videolink_to_song' song.pk %}">Add a link <i class="fas fa-upload"></i></a>
        </span>
    </h5>
    <hr>

    <div class="row text-left">
        {% for link in song.videolink_set.all %}
            <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 py-2 video-list">

                <div class="container video-list-video-container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="text-left">
                                <img src='{{ link.thumbnail_url }}' class='card' height="60px" width="60px">
                            </p>
                        </div>

                        <div class="col-sm-6">
                            <p class="text-right">
                                <a href="{{ link.channel_link }}" target="_blank" title='Watch it on our channel'>{{ link.title }}</a></p>
                            <p class="text-right">
                                <a href="{% url 'siteuser:library' link.uploader.pk link.uploader.slug %}">{{ link.uploader.screen_name }}</a></p>
                        </div>
                    </div>
                </div>

                <div class="row video-list-icon-container">
                    <div class="container">
                        <span class="btn btn-sm btn-primary icon-buttons" title="{{ link.youtube_likes }}">{{ link.youtube_likes }}</span>
                        <span class="btn btn-sm btn-primary icon-buttons float-left" title="Total youtube likes"><i class="fas fa-star"></i></span>


                        <span class="btn btn-sm btn-primary icon-buttons float-right" title="Total youtube views"><i class="fas fa-eye"></i></span>
                        <span class="btn btn-sm btn-primary icon-buttons float-right" title="{{ link.youtube_views }}">{{ link.youtube_views }}</span>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="container"><p>No video link.</p></div>
        {% endfor %}
    </div>
</div>

<div class="container song-lyrical">
    <h5 class="my-2 text-left">Lyrics</h5>
    <hr>
    {{ song.lyrics|markdown_format }}
</div>
{% endblock content_content %}

