{% extends "choralcentral_base.html" %}
{% block title %}Edit Song{% endblock %}

{% block content_content %}

<div class="container upload-forms"
    <h2>Edit Song</h2>
    <div class="divider"></div>

    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button  class="btn btn-primary btn-md float-right" type="submit" value="Save">Save</button>
    </form>
</div>
{% endblock content_content %}
