{% extends "choralcentral_base.html" %}
{% block title %}Music for {{ season }}{% endblock title %}
{% load static %}
{% block content_content %}

<h2>Music for {{ season }}</h2>
<hr>

<div class="list-group">
    {% for song in songs %}

    <div class="list-group-item list-group-item-primary">
        <h4><a href="{% url 'song:detail' song.pk song.slug %}">{{ song.title }}</a></h4>
    </div>
    {% empty %}
        <p>No song to display</p>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if songs.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ songs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ songs.number }} of {{ songs.paginator.num_pages }}.
        </span>

        {% if songs.has_next %}
            <a href="?page={{ songs.next_page_number }}">next</a>
            <a href="?page={{ songs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content_content %}
