{% extends "choralcentral_base.html" %}
{% load static %}

{% block content_content %}

    {% if form.errors %}
        <div class="row">
            {{ form.errors }}
        </div>
    {% endif %}

    <div class="container-fluid" style="background: #FF3B3F; padding: 10px;">
        <div class="filter-block">
            <form action="{% url 'song:filter' %}" method="get" enctype="multipart/form-data">
                <div class="row"><div class="col-sm-12">{{ form.season }}</div></div>
                <div class="row"><div class="col-sm-12">{{ form.masspart }}</div></div>
                <div class="row"><div class="col-sm-12">{{ form.voicing }}</div></div>
                <div class="row"><div class="col-sm-12">{{ form.language }}</div></div>
                <div class="row"><div class="col-sm-12">
                    <button  class="btn btn-primary btn-md btn-block" type="submit" value="Filter">Filter</button></div>
                </div>
            </form>
        </div>
    </div>

    {% if total_found %}{{ total_found }} results{% endif %}

    {% if songs %}
        <div class="list-group" id="hits-container">
            {% for song in songs %}

                <div class="row">
                   <div class="col-sm-12">
                        <h5><a href="{% url 'song:detail' song.pk song.slug %}">{{ song.title }}</a></h5>
                        <p class="" id="songFirstLine">{{ song.first_line }}</p>

                        <span class="h6 float-sm-left">
                            <a href="{% url 'song:reader' song.pk song.slug %}">
                                <i class="fa fa-minus-square" aria-hidden="true"></i>
                            </a>
                            <a href="{% url 'blog:new_song' song.pk %}" data-toggle="tooltip" data-placement="top" title="Blog this song">
                                <i class="fa fa-rss-square" aria-hidden="true"></i>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" aria-hidden="true" href="" title="Share on facebook" class="fa fa-facebook-official"></a>
                            <a data-toggle="tooltip" data-placement="top" aria-hidden="true" href=""title="Share by email" class="fa fa-envelope"></a>
                            <a data-toggle="tooltip" data-placement="top" aria-hidden="true" href="{% url 'cart:add_to_cart' song.pk %}"title="Add to cart" class="fa fa-cart-plus"></a>
                            <a data-toggle="tooltip" data-placement="top" aria-hidden="true" href=""title="Reader view" class="fa fa-book"></a>
                        </span>

                        <span class="h5 float-sm-right">
                            <span class="badge badge-light badge-pill">{{ song.song_likes }}</span>
                            <span class="badge badge-light badge-pill">
                                <a href="#" class="fa fa-star" aria-hidden="true"></a>
                            </span>
                        </span>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No songs to display</p>
    {% endif %}
{% endblock content_content %}

