{% extends "choralcentral_base.html" %}

{% load static %}

{% block left_sidebar %}
    <div class="d-none d-md-block filter-block">
        <form action="{% url 'song:filter' %}" method="get" enctype="multipart/form-data">
            {{ form.as_p }}
            <button class="btn btn-primary btn-sm float-right" type="submit" value="Filter songs">Apply</button>
        </form>
    </div>
{% endblock left_sidebar %}

{% block content_content %}

{% for song in songs %}
<div class="list-songs container">
    <div class="row">
        <div class="col-sm-12">
            {% if not song.publish %}
            <h4><a class="text-danger" href="{% url 'song:detail' song.pk song.slug %}">{{ song.title }}</a></h4>
            {% else %}
            <h4><a href="{% url 'song:detail' song.pk song.slug %}">{{ song.title }}</a></h4>
            {% endif %}

            <div class="row">
                <div class="col-sm-12 song-index-meta">
                    <span class="song-meta float-left">
                        <span class="btn btn-sm btn-primary icon-buttons text-ocassion" title="Ocassion: {{ song.ocassion|title }}">{{ song.ocassion|title }}</span>
                        <span class="btn btn-sm btn-primary icon-buttons text-genre" title="Genre: {{ song.genre|title }}">{{ song.genre|title }}</span>
                        <span class="btn btn-sm btn-primary icon-buttons text-voicing" title="Voicing: {{ song.voicing|upper }}">{{ song.voicing|upper }}</span>
                        <span class="btn btn-sm btn-primary icon-buttons text-language" title="Language: {{ song.language|title }}">{{ song.language|title }}</span>
                        {% for masspart in song.mass_parts.all %}
                            <span class="btn btn-sm btn-primary icon-buttons text-masspart" title="Masspart: {{ masspart|title }}">{{ masspart|title }}</span>
                        {% endfor %}
                        {% for season in song.seasons.all %}
                            <span class="btn btn-sm btn-primary icon-buttons text-season" title="Season: {{ season|title }}">{{ season|title }}</span>
                        {% endfor %}
                    </span>
                    <span class="float-right">

                        <a class="btn btn-sm btn-primary likes-button-style" href="">
                            <span class="like-count-embed" title="">{{ song.like_count }} Star </span>
                            <span title="Give a star"><i class="fas fa-star"></i> Star/Unstar</span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% empty %}
    <p>No songs to display</p>
{% endfor %}

{% endblock content_content %}
