{% extends "choralcentral_base.html" %}
{% block title %}Search songs{% endblock title %}
{% load static %}
{% load song_ttags %}

{% block content_content %}

<h1>Search songs</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/song">Home</a></li>
        <li class="breadcrumb-item"><a href="/song">Songs</a></li>
        <li class="breadcrumb-item active" aria-current="page">Search</li>
    </ol>
</nav>

<div class="row search-input-box">
    <div class="col-sm-12">
        <input id="q" name="q" placeholder="Type to find songs" autocomplete="off" autocorrect="false" spellcheck="false" class="form-control" type="search">
    </div>
</div>

<div class="row search-info-box"><div class="col-sm-12" id="hits-stat"></div></div>
<div class="row search-info-box"><div class="col-sm-12 d-none" id="no-hits"></div></div>
<div id="hits-container"></div>

{% endblock content_content %}

{% block page_js %}
    <script type="text/template" id="hit-template">
        {% verbatim %}
            <div class="list-songs container">
                <h2 style="text-transform:capitalize"><a href="{{ get_absolute_uri }}">{{{ _highlightResult.title.value }}}</a></h2>

                <div class="row">
                    <div class="col-sm-12 song-index-meta">
                        <span class="song-meta float-left">
                            <span class="btn btn-sm btn-primary icon-buttons">{{{ _highlightResult.all_authors.value }}}</span>
                            <span class="btn btn-sm btn-primary icon-buttons">{{{ _highlightResult.genre.value }}}</span>
                            <span class="btn btn-sm btn-primary icon-buttons">{{{ _highlightResult.ocassion.value }}}</span>
                        </span>
                    </div>
                </div>
                <p>{{{ _highlightResult.lyrics.value }}}</p>
            </div>

            <hr>
        {% endverbatim %}
    </script>
        
    <script>
        $(document).ready(function() {
            var $inputField = $('#q');
            var $hitsContainer = $('#hits-container');
            var $noHits = $('#no-hits');
            var $hitsStat = $('#hits-stat');
            var hitTemplate = Handlebars.compile($('#hit-template').html());

            var client = algoliasearch('{{ appId }}', '{{ apiKey }}');
            var helper = algoliasearchHelper(client, '{{ indexName }}');

            $inputField.on('keyup', function() {
                var query = $inputField.val();
                helper.setQuery(query).search();
            }).focus();

            helper.on('result', function(data) {
            renderHits(data);
            });

            helper.search(); // start search

            function renderHits(content) {
            var hitsHtml = '';

            if (content.hits.length === 0) {
                hitsHtml = '<p class="text-center text-danger lead">We didn\'t find any results for your search.</p>';
                $noHits.html(hitsHtml);
                $noHits.removeClass('d-none');
                $hitsContainer.addClass('d-none');
            } else {
                for (var i = 0; i < content.hits.length; ++i) {
                hitsHtml += hitTemplate(content.hits[i]);
                }

                $hitsContainer.html(hitsHtml);
                $hitsContainer.removeClass('d-none');
                $noHits.addClass('d-none');
            }

            $hitsStat.html('<div class="container"><div class="row"><div class="result-count col-sm-6">Found <b>' +
                content.nbHits + '</b> results in <b>' + content.processingTimeMS + '</b>ms ' +
                '</div> <div class="algolia col-sm-6 text-right"><a href="http://www.algolia.com" target="_blank">by Algolia <i class="fab fa-algolia fa-2x"></i></a></div></div></div>'
            );
            }
        });
    </script>
{% endblock page_js %}
