
<div class="modal fade" id="markdownModal" tabindex="-1" role="dialog" aria-labelledby="markdownModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emailModalLabel">Formatting lyrics and scripture references</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p>...</p>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-light" value="Send">
                    <a href='https://daringfireball.net/projects/markdown/' target="_blank">Markdown guide</a>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue editing</button>
            </div>
        </div>
    </div>
</div>