{% extends "choralcentral_base.html" %}
{% block title %}New Song{% endblock %}
{% load song_ttags %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}
<div class="container upload-forms">
    <h2>New Song
    <span class='float-right'>

        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#markdownModal">
            Formatting help
        </button>
        {% include 'song/markdown_help.html' %}
    </span>
    </h2>
    <hr>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-sm float-right" type="submit" value="Save">Save</button>
    </form>
</div>
{% endblock content_content %}
