{% extends "choralcentral_base.html" %}
{% block title %}New Song{% endblock %}
{% load song_ttags %}


{% block content_content %}

<h1>New song</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/song">Home</a></li>
        <li class="breadcrumb-item"><a href="/song">Song</a></li>
        <li class="breadcrumb-item active" aria-current="page">New song</li>
    </ol>
</nav>


<div class="upload-form">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#markdownModal">
            Formatting help
        </button>
        {% include 'song/markdown_help.html' %}
    </span>
    </h2>

    <form action="" method="post" class="new-song-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-sm float-right" type="submit" value="Save">Save</button>
    </form>
</div>

<script type="text/javascript">
    $('#id_title').change(function() {

        title = $(this).val()

        $.ajax({
            type : 'GET',
            url : "{% url 'song:check_song_exists' %}",
            data : {title : title},
            success : function (data, textStatus, jqXHR) {
                if (data.exists) {
                    console.log(data.song_url)
                    var msg = "A song titled " + "<a id='existingSong' href'' target='_blank'>" + title + "</a>" + " already exists. Perhaps you just want to add scores and midis.";

                    $('#id_title').parent().before('<p id="someId">');
                    $('#someId').html(msg).css('font-weight', 'bold');
                    $('#existingSong').attr('href', data.song_url);
                } else {
                    $('.song-exists').html('')
                }
            },
            error : function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown)
            }
        });
    });
</script>
{% endblock content_content %}
