{% extends "choralcentral_base.html" %}
{% block title %}New Song{% endblock %}
{% load song_ttags %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}


<div class="upload-form" id='newSongForm'>
    
    <h2>New Song
        <span class='float-right'>
            
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#markdownModal">
                Formatting help
            </button>
            {% include 'song/markdown_help.html' %}
        </span>
    </h2>
    <hr>

    
    <button class="btn btn-primary" data-toggle="modal" data-target="#addLanguageModal"><i class="fas fa-plus"></i></button>
    {% include "song/language_new_modal.html" %}


    <form action="" method="post" class="new-song-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-sm float-right" type="submit" value="Save">Save</button>
    </form>
</div>
{% endblock content_content %}

{% block page_js %}
<script type="text/javascript">

    var csrf_token = $('input[name="csrfmiddlewaretoken"]').attr('value');
    console.log('CSRF', csrf_token)

    var languages = new Vue({
        delimiters: ['${', '}$'],
        el: '#newSongForm',
        data: {
        },

        mounted: function() {
            this.checkSongExists()
            console.log('Mounted')
            console.log("{% url 'song:new_language' %}")
        },

        methods: {
            addLanguage : function() {
                var url = "{% url 'song:new_language' %}";
                //var language_name = $('input[id="language_name"]').attr('value');
                alert("addLanguage Method triggered", url)
                
                console.log(url)
                post_data = {name : language_name}

                this.$http.post(url, post_data)
                    .then(function(response) {
                        console.log(post_data)
                        console.log('---------------')
                        console.log(response)
                    })
                    .catch(function(err) {
                        console.log(err);
                    })
            },

            checkSongExists : function() {
                $('#id_title').change(function () {
                    alert('Song may already exist')
                    var title = $('#id_title').val()
                    this.$http.get("{% url 'song:check_song_exists' %}")
                        .then(function(response) {
                            console.log('not found')
                            console.log(response)
                        })
                        .catch(function(err) {
                            console.log(err)
                        })
                })
            }
        }
    });
</script>
{% endblock page_js %}

