<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        {% load song_ttags %}
        {% load static %}
        <title>ChoralCentral | {{ song.title|title }} pdf sheet</title>
        <link rel='stylesheet' type='text/css' href="{% static 'css/reader_view.min.css' %}">
    </head>

    <body>
        <h2><a href="https://www.choralcentral.net/home/">ChoralCentral</a> | <a href="{{ song.get_absolute_uri }}">{{ song.title|title }}</a></h2>
        <hr>

        <div class='about'>
            <div class="column-1">
                <h6><span class="about-headers">Added by:</span> <a href="{{ song.creator.get_absolute_uri}}">{{ song.creator.screen_name }}</a></h6>
                <h6><span class="about-headers">Ocassion:</span> {{ song.ocassion|title }}</h6>
                <h6><span class="about-headers">Genre:</span> {{ song.genre|title }}</h6>
                <h6><span class="about-headers">For:</span> {{ song.voicing|upper }}</h6>
                <h6><span class="about-headers">Tempo:</span> {{ song.tempo }}</h6>
                <h6><span class="about-headers">Performed:</span> {{ song.tempo_text|title }}</h6>
                <h6><span class="about-headers">Timing:</span> {{ song.bpm }}/{{ song.divisions }}</h6>
            </div>

            <div class="column-2">
                <h6><span class="about-headers">Scripture:</span> {{ song.scripture_reference }}</h6>
                <h6><span class="about-headers">Language:</span> {{ song.language|title }}</h6>
                <h6><span class="about-headers">Seasons:</span> 
                    {% for season in song.seasons.all %}
                        {{ season|title }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </h6>
                <h6><span class="about-headers">Massparts:</span> 
                    {% for masspart in song.mass_parts.all %}
                        {{ masspart|title }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </h6>

                <h6><span class="about-headers">Authors:</span> 
                    {% for author in song.authors.all %}
                    <a href="{{ author.get_absolute_uri }}" target="_blank">{{ author }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </h6>
                <h6><span class="about-headers">Composed:</span> {{ song.year }}</h6>
            </div>
        </div>

        <div class='lyrics'>
            <hr>
            <h4>Lyrics</h4>
            {{ song.lyrics|markdown_format }}
        </div>
        <div id="pageFooter"></div>
    </body>
</html>



