<!DOCTYPE html>
<html>
    <head>
        <title>ChoralCentral | Where sheet music lives</title>

        <style>
            body {background: white}
            h1, h2, h3 {
                color: #007bff;}
            a:hover {text-decoration: underline; color: #007bff;}
        </style>
    </head>

    <body>
        <h2>Song share from ChoralCentral</h2>
        <hr>

        <p>Hello, <br>
        Someone would like you to see <a href="{{ song_link }}">{{ song.title }}</a> over on
        <a href="http://www.choralcentral.net">ChoralCentral</a></p>

        <p>{{ song.lyrics }}</p>
    </body>
</html>
