{% extends "choralcentral_base.html" %}
{% load static %}

{% block content_content %}
<div class="container">

<div class="row">
    <div class="col-sm-12">
        <p>Over {{ song_count }} high quality songs published till date...</p>
    </div>
</div>

{% if song_list %}
<div class="list-group" id="hits-container">
    {% for song in song_list %}

    
    <div class="list-group-item list-group-item-action list-group-item-primary">
        <div class="row">
           <div class="col-sm-12">
                <h5>
                    <a href="{% url 'song:detail' song.pk song.slug %}">{{ song.title }}</a>
                </h5>
                <p class="list-group-item-text" id="songFirstLine">{{ song.first_line }}</p>
        
                <span class="h6 float-sm-left">
                    <a href="{% url 'song:reader' song.pk song.slug %}">
                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'blog:new_song' song.pk %}" data-toggle="tooltip" data-placement="top" title="Blog this song">
                        <i class="fa fa-rss-square" aria-hidden="true"></i>
                    </a>
                    <a href="" data-toggle="tooltip" data-placement="top" title="Share on facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href="" data-toggle="tooltip" data-placement="top" title="Share by email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    
                    <a href="{% url 'cart:add_to_cart' song.pk %}" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                    
                    <a href="" data-toggle="tooltip" data-placement="top" title="Reader view"><i class="fa fa-book" aria-hidden="true"></i></a>
                </span>
        
                <span class="h5 float-sm-right">
                    <span class="badge badge-light badge-pill">{{ song.song_likes }}</span>
                    <span class="badge badge-light badge-pill">
                        <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                    </span>
                </span>
           </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No songs to display</p>
{% endif %}
</div>
{% endblock content_content %}
{% block wrap_forms %}{% endblock wrap_forms %}
