{% extends "choralcentral_base.html" %}
{% if song %}{% block title %}Delete {{ object }}{% endblock title %} {% endif %}

{% block content_content %}

<h2>Delete song</h2>
<hr>

<p>Please confirm if you really want to delete <span class="text-danger">{{ object }}</span></p>
<p>This song already has {{ object.like_count }} stars</p>

<form action="" method="POST">
    {% csrf_token %}
    <input class="bg-danger btn object-delete-button" type="submit" action="" value="Yes, Delete" style="color:white;" />
</form>

{% endblock content_content %}
{% block footer_top %}{% endblock footer_top %}
