{% extends "choralcentral_base.html" %}
{% block title %}{{ siteuser.screen_name }}'s comments{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% load blog_ttags %}
{% block content_content %}

<div class='container comment-detail-header'>
    <div class='row'>
        <div class='col-sm-12 head-title'>
            <span class='h5 float-left'>
                Comments by <a href="{% url 'siteuser:detail' siteuser.pk siteuser.slug %}">{{ siteuser.screen_name }}</a>
            </span>
        </div>
    </div>
</div>

{% for comment in siteuser.comment_set.all %}
    <div class="list-comments">
        <div class="row commenter-stats">
            <div class='col-sm-12'>
                <strong>
                    <a href="{% url 'blog:detail' comment.post.pk comment.post.slug %}">{{ comment.post }}</a>
                    <span class="float-right">
                        Posted {{ comment.created|date }} |
                        Modified {{ comment.modified|date }}
                    </span>
                </strong>
            </div>
        </div>

        <div class='comment-body'>
            {{ comment.comment|markdown_format }}
        </div>

        <span class='float-left'>
            <span class="btn btn-sm btn-primary icon-buttons" href="" title="Total likes">
                <span>{{ comment.like_count }}</span> <i class="fas fa-star"></i>
            </span>
        </span>

        <span class="float-right">
            {% if request.user == comment.creator.user %}
                <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'blog:edit_comment' comment.pk %}" title="Edit"><i class="fas fa-edit"></i></a>
                <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'blog:comment_delete' comment.pk %}" title="Delete"><i class="fas fa-trash"></i></a>
            {% endif %}
            <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'blog:comment_reply' comment.pk comment.post.pk %}" title="Reply"><i class="fas fa-reply"></i></a>
        </span>
    </div>
{% empty %}
    <p>No comments to display</p>
{% endfor %}
{% endblock content_content %}
