{% extends "choralcentral_base.html" %}
{% block title %}{{ siteuser.screen_name }}'s comments{% endblock title %}

{% block content_content %}

<h2><a href="{% url 'siteuser:detail' siteuser.pk siteuser.slug %}">{{ siteuser.screen_name }}</a>'s comments</h2>

    {% for comment in siteuser.comment_set.all %}
        <div class="list-items">
            <h5><a href="{% url 'blog:detail' comment.post.pk comment.post.slug %}">{{ comment.post }}</a></h5>
                <span>{{ comment.comment|linebreaks }}</span>
        </div>
    {% empty %}
        <p>No comments to display</p>
    {% endfor %}
{% endblock content_content %}
