{% extends "choralcentral_base.html" %}
{% block title %}Dashboard{% endblock title %}

{% block content_content %}

<h2>Dashboard</h2>

{% if user == siteuser.user %}
<div class="admin-actions">
    <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administer
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'siteuser:edit' siteuser.pk siteuser.slug %}">Edit profile</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'siteuser:change_password' %}">Change password</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'siteuser:reset_password' %}">Reset password</a>
          </div>
        </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add new
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'song:new' %}">Song</a>
            <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'blog:new' %}">Blog post</a>
            <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'request:new' %}">Request</a>
      </div>
    </div>
</div>
{% endif %}

<h5>First name</h5>
<div class="dash-values">
    <p>{{ user.siteuser.first_name }}</p>
</div>

<h5>Last name</h5>
<div class="dash-values">
    <p>{{ user.siteuser.last_name }}</p>
</div>

<h5>Email</h5>
<div class="dash-values">
    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
</div>

<h5>Location</h5>
<div class="dash-values">
    <p>{{ user.siteuser.location }}</p>
</div>

<h5>Last seen</h5>

<div class="dash-values">
    <p>{{ request.user.last_login }}</p>
</div>

<h5>Member since</h5>
<div class="dash-values">
    <p>{{ request.user.date_joined }}</p>
</div>

<h5>Comments</h5>
<div class="dash-values">
    <p><a href="{% url 'siteuser:comments' user.siteuser.pk %}">{{ user.siteuser.comment_set.count }}</a></p>
</div>

{% endblock content_content %}


