{% extends "choralcentral_base.html" %}
{% block title %}{{ siteuser.screen_name }}'s library{% endblock title %}

{% block content_content %}

<h2>My library
    <span class="float-right">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add new
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'song:new' %}">Song</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'blog:new' %}">Blog post</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'request:new' %}">Request</a>
          </div>
        </div>
    </span>
</h2>

<!--songs-->
<div class="list-group-item list-group-item-primary">
    <h2>Songs</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                <caption>My songs</caption>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% if siteuser.song_set.all %}
                <tbody>
                {% for song in siteuser.song_set.all %}
                    <tr>
                        {% if song.status == "PUBLISHED" %}
                            <td><a href="{% url 'song:detail' song.pk song.slug %}">{{ song.title }}</a></td>
                            <td>{{ song.status }}</td>
                        {% else %}
                            <td class="text-warning">{{ song.title }}</td>
                            <td class="text-warning">{{ song.status }}</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'song:edit' song.pk song.slug %}"><i class="fas fa-edit"></i></a> |
                            <a href="{% url 'song:delete' song.pk %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <p>There are no songs in your library</p>
            {% endif %}
        </table>
    </div>
</div>
<!--end song-->


<div class="list-group-item list-group-item-primary">
    <h2>My blog posts</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                <caption>My blog posts</caption>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% if siteuser.post_set.all %}
                <tbody>
                {% for post in siteuser.post_set.all %}
                    <tr>
                        {% if post.status == "PUBLISHED" %}
                            <td><a href="{% url 'blog:detail' post.pk post.slug %}">{{ post.title }}</a></td>
                            <td>{{ post.status }}</td>
                        {% else %}
                            <td class="text-warning">{{ post.title }}</td>
                            <td class="text-warning">{{ post.status }}</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'blog:edit' post.pk %}"><i class="fas fa-edit"></i></a> |
                            <a href="#"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <p>You haven't made any post</p>
            {% endif %}
        </table>
    </div>
</div>

<div class="list-group-item list-group-item-primary">
    <h2>My requests</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                <caption>My blog posts</caption>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% if siteuser.request_set.all %}
                <tbody>
                {% for request in siteuser.request_set.all %}
                    <tr>
                        {% if request.status == "MET" %}
                            <td><a href="{% url 'request:detail' request.pk request.slug %}">{{ request }}</a></td>
                            <td>{{ request.status }}</td>
                        {% else %}
                            <td><a "text-warning" href="{% url 'request:detail' request.pk request.slug %}">{{ request }}</a></td>
                            <td class="text-warning">{{ request.status }}</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'request:edit' request.pk %}"><i class="fas fa-edit"></i></a> |
                            <a href="#"><i class="fas fa-check"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <p>You have not made any request</p>
            {% endif %}
        </table>
    </div>
</div>

<div class="list-group-item list-group-item-primary">

    <h2>Authors</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                <caption>My authors</caption>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% if siteuser.author_set.all %}
                <tbody>
                {% for author in siteuser.author_set.all %}
                    <tr>
                        <td><a href="{% url 'author:detail' author.pk author.slug %}">{{ author }}</a></td>
                        <td>{{ author.author_type|title }}</td>
                        <td><a href="#"><i class="fas fa-edit"></i></a> |
                        <a href="#"><i class="fas fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <p>You have not added any authors</p>
            {% endif %}
        </table>
    </div>
</div>
{% endblock content_content %}

