{% extends "choralcentral_base.html" %}

{% block title %}Site siteusers{% endblock title %}


{% block content_content %}

<h2>Meet the choir</h2>

    {% if siteuser_list %}
    <div class="list-group">
        {% for siteuser in siteuser_list %}

        <div class="list-group-item list-group-item-primary">
            <a href="{% url 'siteuser:detail' siteuser.pk siteuser.slug %}">{{ siteuser.screen_name }}</a>
            <p>{{ siteuser.song_set.count }} uploads</p>
        </div>

        {% endfor %}
    </div>
    {% else %}
        <p>No profiles added yet.</p>
    {% endif %}
{% endblock content_content %}
