{% extends "choralcentral_base.html" %}

{% block title %}Site siteusers{% endblock title %}


{% block content_content %}

<h2>Meet the gang</h2>

    {% if siteuser_list %}
    <div class="list-group">
        {% for siteuser in siteuser_list %}

        <div class="list-group-item list-group-item-action list-group-item-primary">
                <a href="{% url 'siteuser:detail' siteuser.pk siteuser.slug %}">{{ siteuser.screen_name }}</a>
                {% if siteuser.user == user %}
                    <a href="{% url 'siteuser:edit' siteuser.pk siteuser.slug %}"><i class="fas fa-edit"></i></a>    
                {% endif %}
                <p>{{ siteuser.published.count }} uploads</p>
        </div>

        {% endfor %}
    </div>
    {% else %}
        <p>No profiles added yet.</p>
    {% endif %}
{% endblock content_content %}
