{% extends "choralcentral_base.html" %}
{% block title %}Lovebirds{% endblock title %}
{% load thumbnail %}
{% load static %}
{% load siteuser_tags %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Love birds of {{ song.title }}</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for love_bird in song_love_birds %}
            <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 my-2 love-bird-detail">
                {% thumbnail love_bird.avatar "150x150" crop="center" as im %}
                   <img alt="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid card">
                {% empty %}
                   <img alt="" src="{% static 'img/django-logo.png' %}" width="150" height="150" class="img-fluid card">
                {% endthumbnail %}
                <p class="text-left"><a href="{% url 'siteuser:library' love_bird.pk love_bird.slug %}">{{ love_bird.screen_name }}</a></p>
                <p class="text-left">Roles:
                    {% for role in love_bird.roles.all %}
                        <a href="{% url 'siteuser:siteusers_common_roles' role %}" title='See all {{ role.name|title }}s ({{ role.siteuser_set.count }})'>{{ role.name|title }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="text-left">Location: <a href="" title="See others in this {{ love_bird.location }}">{{ love_bird.location }}</a></p>
                <p class="text-left">Activity: {{ love_bird.song_set.all|count_published }} songs, {{ love_bird.post_set.all|count_published }} blog posts,
                    {{ love_bird.score_set.count }} scores, {{ love_bird.midi_set.count }} midis, {{ love_bird.comment_set.count }} comments
                </p>
            </div>
        {% empty %}
            <p>No lover for {{ song.title }}.</p>
        {% endfor %}
    </div>
</div>

{% endblock content_content %}
