{% extends "choralcentral_base.html" %}
{% block title %}Users{% endblock title %}
{% load thumbnail %}
{% load static %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<div class='row siteuser-index-heading'>
    <div class='container'>
        <div class='col-sm-12'>
            <span class='h5 float-left'>Love birds of {{ post.title }}</span>
            </span>
        </div>
    </div>
</div>

<div class="row text-left">
    {% for love_bird in post_love_birds %}
        <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 my-2 love-bird-detail">
            {% thumbnail love_bird.avatar "150x150" crop="center" as im %}
               <img alt="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid card">
            {% empty %}
               <img alt="" src="{% static 'img/django-logo.png' %}" width="150" height="150" class="img-fluid card">
            {% endthumbnail %}
            <p class="text-left">{{ love_bird.song_set.count }} uploads</p>
            <p class="text-left"><a href="">Follow</a></p>
            <p class="text-left"><a href="{% url 'siteuser:library' love_bird.pk love_bird.slug %}">{{ love_bird.screen_name }}</a></p>
            <p class="text-left">{{ love_bird.post_set.count }} blog posts</p>
            <p class="text-left">{{ love_bird.comment_set.count }} comments</p>
            <p class="text-left">{% for role in love_bird.roles.all %}{{ role }}{% endfor %}</p>
        </div>
    {% empty %}
        <p>No lover for {{ post.title }}.</p>
    {% endfor %}
</div>
{% endblock content_content %}
