{% extends "choralcentral_base.html" %}

{% block title %}New profile{% endblock %}
{% block navigation %}{% endblock navigation %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<div class="container upload-forms">

    <h2>Register on <a href='/'>ChoralCentral</a></h2>
    <hr>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

            <p>{{ form.email }}</p>

            <p>{{ form.screen_name }}</p>

            <p>{{ form.password1 }}</p>

            <p>{{ form.password2 }}</p>

        <button class="btn btn-primary btn-sm float-right" type="submit" value="Join">Join</button>
    </form>

</div>
{% endblock content_content %}
{% block footer %}{% endblock footer %}
