{% extends "choralcentral_base.html" %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1 class='text-center'><a href="/" title='Return to homepage' style='text-decoration: none'>ChoralCentral</a></h1>
    <hr>

    <div class="container register-forms">
        <h2 class='text-center'>Register</h2>

        {% include "registration/social_logins.html" %}
        <p>Using social registration implies you agree to our <a href="/terms-of-user/" target="_blank">terms</a></p>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <p>{{ form.email }}</p>
                <p>{{ form.email.errors }}</p>
                <p>{{ form.screen_name }}</p>
                <p>{{ form.screen_name.errors }}</p>
                <p>{{ form.password1 }}</p>
                <p>{{ form.password1.errors }}</p>
                <p>{{ form.password2 }}</p>
                <p>{{ form.password2.errors }}</p>
                <p>{{ form.agreement }} I have read and agree with the <a href="/terms-of-use/" target="_blank">terms</a>.</p>
            <button class="btn btn-primary btn-sm register-btn" type="submit" value="Join">Join</button>
        </form>
    </div>
{% endblock body %}
