{% extends "choralcentral_base.html" %}

{% block title %}New profile{% endblock %}
{% block navigation %}{% endblock navigation %}

{% block content_content %}

<div class="container upload-forms">

    <h2>Create your profile</h2>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

            <p>{{ form.email }}</p>

            <p>{{ form.screen_name }}</p>

            <p>{{ form.password1 }}</p>

            <p>{{ form.password2 }}</p>

        <button class="btn btn-primary btn-sm float-right" type="submit" value="Join">Join</button>
    </form>

    <!-- <div class="social-auth fa-3x">
        <a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fab fa-google-plus-g"></i></a>
        <a href="{% url 'social:begin' 'facebook' %}"><i class="fab fa-facebook"></i></a>
        <a href="{% url 'social:begin' 'twitter' %}"><i class="fab fa-twitter"></i></a>
    </div> -->
</div>
{% endblock content_content %}
{% block footer %}{% endblock footer %}
