{% extends "choralcentral_base.html" %}
{% block title %}Activate {{ screen_name }}{% endblock %}
{% block wrap_filter %}{% endblock wrap_filter %}

{% block content_content %}

<div class="container">
    <h4>Profile activation successful</h4>
            {% if active %}
                <p>Thank you but your profile is already active.<br>
                Please <a href="{% url 'siteuser:login' %}">login</a> to continue</p>
            {% else %}
                <p class="card-title">Thank you for activating your profile.<br>
                    Please <a href="{% url 'siteuser:login' %}">login</a> to continue</p>
            {% endif %}
</div>
{% endblock content_content %}

{% block footer %}{% endblock footer %}
