{% extends "choralcentral_base.html" %}
{% block title %}New Voicing{% endblock %}

{% block content %}

<div class="container upload-forms">
    <h2>New voicing</h2>
    
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
                
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button  class="btn btn-primary btn-md float-right" type="submit" value="Save">Save</button>
    </form>
</div>
{% endblock %}
