{% extends "choralcentral_base.html" %}
{% load static %}
{% block title %}Midi index{% endblock %}

{% block left_sidebar %}{% endblock left_sidebar %}
{% block introduction %}{% endblock %}
{% block right_sidebar %}{% endblock right_sidebar %}

{% block content_content %}

   <div class="container">
        <h2 class="my-4 text-center text-lg-left">Midis</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                    <caption>midis</caption>
                </thead>
                <tr>
                    <th>Song</th>
                    <th>Song owner</th>
                    <th>Midi owner</th>
                    <th>Format</th>
                    <th><i class="fas fa-hdd" title="HDD download url"></i></th>
                    <th><i class="fas fa-hdd" title="HDD link"></i></th>
                    <th><i class="fab fa-google-drive" title="Google Drive view url"></i></i></th>
                    <th><i class="fab fa-google-drive" title="Google Drive download url"></i></th>
                    <th><i class="fas fa-cog"></i></th>
                </tr>

                {% if midis %}
                <tbody>
                    {% for midi in midis %}
                        <tr>
                            <td><a href="{% url 'song:detail' midi.song.pk midi.song.slug %}">{{ midi.song.title }}</a></td>
                            <td>{{ midi.song.originator }}</td>
                            <td>{{ midi.uploader }}</td>
                            <td>{{ midi.fformat }}
                            </td>
                            <td>
                                {% if midi.media_file %}
                                   {% if midi.fformat == ".mp3" %}
                                    <p class='text-left'>
                                        <a href="{% url 'song-media:play_midiview' midi.pk %}" target="_blank"><i class="fas fa-play"></i></a>
                                    </p>
                                    {% else %}
                                    <p class='text-left'>
                                        <a class='text-success' href="" onClick="MIDIjs.play('{{ midi.media_file.url }}');"><i class='fas fa-play'></i></a> |
                                        <a href="" onClick="MIDIjs.stop();"><i class='fas fa-stop'></i></a>
                                    </p>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if midi.media_file %}
                                    <a href="{{ midi.media_file.url }}" target="_blank"><i class="fas fa-link"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if midi.drive_view_link %}
                                    <a href="{{ midi.drive_view_link }}" target="_blank"><i class="fas fa-eye"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if midi.drive_download_link %}
                                    <a href="{{ midi.drive_download_link }}" target="_blank"><i class="fas fa-download"></i></a>
                                {% endif %}
                            </td>
                            <td><a href="{% url 'song-media:delete_midi' midi.pk %}"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                    <p>No midis found</p>
                {% endif %}
            </table>
        </div>
    </div>

{% endblock content_content %}
{% block footer %}{% endblock %}
