{% extends "choralcentral_base.html" %}
{% block title %}New part{% endblock %}


{% block content_content %}

<div class="upload-form">
    <h1>New part</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/song">Home</a></li>
            <li class="breadcrumb-item"><a href="/song">Media</a></li>
            <li class="breadcrumb-item active" aria-current="page">New part</li>
        </ol>
    </nav>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-sm float-right" type="submit" value="Save">Save</button>
    </form>
</div>
{% endblock %}
