{% extends "choralcentral_base.html" %}
{% block title %}Playing {{ sound.song.title }} ...{% endblock title %}

{% block content_content %}

<h1>Playing ... {{ sound.song.title|title }}</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/song">Home</a></li>
        <li class="breadcrumb-item"><a href="/song">Media</a></li>
        <li class="breadcrumb-item active" aria-current="page">Playing ... {{ sound.song.title|title }}</li>
    </ol>
</nav>

<p>Return to <a href="{% url 'song:detail' song.pk song.slug %}">{{ song }}</a></p>

<div class='container' style="margin-bottom: 10rem;">
    <div class='row'>
        <audio controls>
          <source src="{{ sound.media_file.url }}" type="audio/mpeg">
          <source src="{{ sound.media_file.url }}" type="audio/ogg">
          Your browser does not support the sound element.
        </audio>
    </div>
</div>

{% endblock %}
