{% extends "choralcentral_base.html" %}
{% if song %}{% block title %}Delete {{ object }}{% endblock title %} {% endif %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<h2>Delete score</h2>

<p>Please confirm if you really want to delete <span class="text-danger">{{ object }}</span> sheet?</p>
<p>This score has been downloaded {{ object.downloads }} times</p>

<form action="" method="POST">
    {% csrf_token %}
    <input class="bg-danger btn object-delete-button" type="submit" action="" value="Yes, Delete" style="color:white;"/>
</form>
    
{% endblock content_content %}
{% block footer_top %}{% endblock footer_top %}

