{% extends "choralcentral_base.html" %}
{% block title %}New music sheet{% endblock %}

{% block wrap_content  %}{% endblock wrap_content  %}
{% block search %}{% endblock search %}

{% block content_content %}

<div class="container upload-forms">
    <h2>New music sheet</h2>                
    
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
    
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>{{ form.song }}</p>
        <p>{{ form.part }}</p>
        <p>{{ form.notation }}</p>
        <p>{{ form.likes }}</p>
        <p>{{ form.media_file }}</p>
    
        <button class="btn btn-primary btn-md float-right" type="submit" value="Save">Save</button>
    </form>
</div>
{% endblock %}
