{% extends "choralcentral_base.html" %}
{% block title %}New music sheet{% endblock %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<div class="upload-form">
    <h2>New music sheet</h2>
    <hr>

    <p>Return to <a href="{% url 'song:detail' song.pk song.slug %}">{{ song }}</a></p>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-sm float-right" type="submit" value="Save">Save</button>
    </form>
</div>
{% endblock %}
