{% extends "choralcentral_base.html" %}
{% load static %}
{% block title %}Score index{% endblock %}

{% block left_sidebar %}{% endblock left_sidebar %}
{% block introduction %}{% endblock %}
{% block right_sidebar %}{% endblock right_sidebar %}

{% block content_content %}

   <div class="container">
        <h2 class="my-4 text-center text-lg-left">Scores</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                    <caption>scores</caption>
                </thead>
                <tr>
                    <th>Song</th>
                    <th>Song owner</th>
                    <th>Score owner</th>
                    <th><i class="fas fa-hdd" title="HDD download url"></i></th>
                    <th><i class="fas fa-hdd" title="HDD link"></i></th>
                    <th><i class="fab fa-google-drive" title="Google Drive view url"></i></i></th>
                    <th><i class="fab fa-google-drive" title="Google Drive download url"></i></th>
                    <th><i class="fab fa-google-drive" title="Google Drive embed url"></i></th>
                </tr>

                {% if scores %}
                <tbody>
                    {% for score in scores %}
                        <tr>
                            <td><a href="{% url 'song:detail' score.song.pk score.song.slug %}">{{ score.song.title }}</a></td>
                            <td>{{ score.song.originator }}</td>
                            <td>{{ score.uploader }}</td>
                            <td>
                                <a href="{% url 'song-media:score_view' score.pk %}" target="_blank"><i class="fas fa-download"></i></a>
                            </td>
                            <td><a href="{{ score.media_file.url }}" target="_blank"><i class="fas fa-link"></i></a></td>
                            <td>
                                {% if score.drive_view_link %}
                                    <a href="{{ score.drive_view_link }}" target="_blank"><i class="fas fa-eye"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if score.drive_download_link %}
                                    <a href="{{ score.drive_download_link }}" target="_blank"><i class="fas fa-download"></i></a>
                                {% endif %}
                            </td>
                            <td>{% if score.pdf_embed_link %}
                                    <a href="{{ score.pdf_embed_link }}" target="_blank"><i class="fas fa-link"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                    <p>No scores found</p>
                {% endif %}
            </table>
        </div>
    </div>

{% endblock content_content %}
{% block footer %}{% endblock %}
