{% extends "choralcentral_base.html" %}
{% if song %}{% block title %}Delete {{ object }}{% endblock title %} {% endif %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<h2>Delete score</h2>

<p>Are you sure you want to delete <span class="text-danger">{{ object }}</span> sheet?</p>

<form action="" method="POST">
    {% csrf_token %}
    <input class="bg-danger btn" type="submit" action="" value="Yes, Delete" style="color:white;" />
</form>
    
{% endblock content_content %}

