{% extends "choralcentral_base.html" %}
{% load static %}
{% block title %}Score index{% endblock %}

{% block left_sidebar %}{% endblock left_sidebar %}
{% block introduction %}{% endblock %}
{% block right_sidebar %}{% endblock right_sidebar %}

{% block content_content %}

   <div class="container">
        <h2 class="my-4 text-center text-lg-left">Scores</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                    <caption>scores</caption>
                </thead>
                <tr>
                    <th>Song</th>
                    <th>Uploader</th>
                    <th>Score uploader</th>
                    <th>Download</th>
                </tr>

                {% if scores %}
                <tbody>
                    {% for score in scores %}
                        <tr>
                            <td>{{ score.song.title }}</td>
                            <td>{{ score.song.originator }}</td>
                            <td>{{ score.uploader }}</td>
                            <td><a href="{% url 'song-media:score_view' score.pk %}" target="_blank"><i class="fas fa-file-pdf"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                    <p>No scores found</p>
                {% endif %}
            </table>
        </div>
    </div>

{% endblock content_content %}
{% block footer %}{% endblock %}
