{% extends "choralcentral_base.html" %}

{% block title %}Error 404 - Resource not found{% endblock title %}

{% block content_content %}

<div class="container">
    <div class="row">
    <div class="col-sm-12">
        <h2>Server error 404</h2>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>The resource you're looking for was not found on the server</p>
        </div>
    </div>
</div>
{% endblock content_content %}
{% block content_forms %}{% endblock content_forms %}