{% extends "choralcentral_base.html" %}

{% block title %}Access denied !!!{% endblock title %}

{% block content_content %}

<div class="row">
        <div class="col-sm-12">
            <h2 class="text-danger">Access denied !!!</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>You do not have sufficient permission to access this page.</p>
            <p>Contact your manager or system administrator.</p>
        </div>
    </div>

{% endblock content_content %}
{% block content_forms %}{% endblock content_forms %}