{% extends "choralcentral_base.html" %}
{% block title %}API{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% block content_content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>API</h2>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class='text-primary'>API key: {{ request.user.siteuser.key }}</p>
            <p class='text-primary'>API quota: {{ request.user.siteuser.quota }} | Remaining: {{ request.user.siteuser.remaining_quota }}</p>


            <p>To access the API, you need to be logged in and have an API key. Your API key is shown above.</p>
            <p>This data structures of the exposed API interfaces are shown below.
                <br>All returned data is in <code>json</code> format</p>

            <p>Every API result has four keys, <code>count</code>, <code>next</code>, <code>previous</code>, and <code>results</code>.
            The values of interest are in the <code>results</code> <code>list</code>. <code>results</code> is a list of <code>dictionaries</code>.
            </p>

            <p><a aria-hidden="true" href="#api-documentation">Documentation</a> below</p>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Available API data</h3>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <ol>
        <li><a aria-hidden="true" href="{% url 'blog-api:comments_api' %}">Comments</a></li>
        <li><a aria-hidden="true" href="{% url 'blog-api:posts_api' %}">Post</a></li>
        <li><a aria-hidden="true" href="{% url 'song-api:song_published_api' %}">Song</a></li>
        <li><a aria-hidden="true" href="">Author</a></li>
        <li><a aria-hidden="true" href="">User comments</a></li>
        {% if user.is_admin %}
            <li><a aria-hidden="true" href="{% url 'user-api:customuser_api' %}">Users</a></li>
            <li><a aria-hidden="true" href="{% url 'user-api:siteuser_api' %}">Members</a></li>
            <li><a aria-hidden="true" href="{% url 'song-api:song_unpublished_api' %}">unPubSong</a></li>
        {% endif %}
    </ol>
</div>

<hr>
<div class="container" id="api-documentation">
    <div class="row">
        <div class="col-sm-12">
            <h3>Documentation</h3>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% include 'structures.html' %}
        </div>
    </div>
</div>
{% endblock content_content %}
