{% extends "choralcentral_base.html" %}
{% block title %}API{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% block content_content %}

<h2>API</h2>
<hr>

<p class='text-primary'>API key is: {{ request.user.siteuser.key }}</p>
<p class='text-primary'>API quota: {{ request.user.siteuser.quota }} | Remaining: {{ request.user.siteuser.remaining_quota }}</p>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item"><a aria-hidden="true" href="/api-doc/">Documentation</a></li>
        <li class="list-group-item"><a aria-hidden="true" href="{% url 'blog-api:comments_api' %}">Comments</a></li>
        <li class="list-group-item"><a aria-hidden="true" href="{% url 'blog-api:posts_api' %}">Post</a></li>
        <li class="list-group-item"><a aria-hidden="true" href="{% url 'song-api:song_published_api' %}">Song</a></li>
        <li class="list-group-item"><a aria-hidden="true" href="">Author</a></li>
        <li class="list-group-item"><a aria-hidden="true" href="">User comments</a></li>
        {% if user.is_admin %}
            <li class="list-group-item"><a aria-hidden="true" href="{% url 'user-api:customuser_api' %}">Users</a></li>
            <li class="list-group-item"><a aria-hidden="true" href="{% url 'user-api:siteuser_api' %}">Members</a></li>
            <li class="list-group-item"><a aria-hidden="true" href="{% url 'song-api:song_unpublished_api' %}">unPubSong</a></li>
        {% endif %}
    </ul>
</div>
{% block footer %}{% endblock footer %}
{% endblock content_content %}
