{% extends "choralcentral_base.html" %}
{% block title %}API documentation{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% block content_content %}

<h2>API Documentation</h2>
<hr>

<div class="container">
    <p>To access the API, you need to be logged in and have an API key. You can get your API key from your dashboard.</p>

    <p>This data structures of the exposed API interfaces are shown below.
        <br>All returned data is in <code>json</code> format</p>
</div>

{% block footer %}{% endblock footer %}
{% endblock content_content %}
