<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>ChoralCentral | {% block title %}Happy choralling !{% endblock title %}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet">

		<!-- Algolia search javascript -->
		<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>

		<script src="//cdn.jsdelivr.net/g/algoliasearch,algoliasearch.helper"></script>

		<!-- font awesome for icons -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

		<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>

		<!--midijs for playing midi-->
		<!-- <script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script> -->

		{% comment %}[if lt IE 9] {% endcomment %}
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		{% comment %} [endif] {% endcomment %}

		{% load static %}
		<link rel="shortcut icon" type="image/png" href="{% static 'favicons/favicon.ico' %}"/>
		<link rel="stylesheet" href="{% static 'css/choralcentral.css' %}">
		<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/choralcentral.js' %}"></script>
		{{ form.media }}

	</head>

	{% block body %}
	<body>
		{% block navigation %}
		<nav class="navbar fixed-top navbar-expand-lg">
			<a class="navbar-brand" href="{% url 'song:index' %}">
				<h3 style="color:blanchedalmond" title="https://www.choralcentral.net/">ChoralCentral</h3>
			</a>

			<button type="button" class="navbar-toggler my-toggler" data-toggle="collapse" data-target=".navcontent">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse navcontent">
				<ul class="nav navbar-nav lefthand-navigation">
					<li class="nav-item"><a class="nav-link" href="/" title="Home">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'author:index' %}" title="Lyricists and composers">Authors</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'request:index' %}" title="Song requests">Requests</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'blog:index' %}" title="Blog entries">Blog</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'siteuser:index' %}" title="Users">Users</a></li>
					{% if user.is_admin %}
					    <li class="nav-item"><a class="nav-link" href="{% url 'siteuser:siteuser_groups' %}" title="Choirs aka groups">Choirs</a></li>
					{% else %}
					    <li class="nav-item"><a class="nav-link" href="/coming-soon/" title="Choirs aka groups">Choirs</a></li>
					{% endif %}
					<li class="nav-item"><a class="nav-link" href="{% url 'song:instant_song' %}" title="Search ChoralCentral"><i class="fas fa-search"></i></a></li>
				</ul>

				<ul class="navbar-nav ml-auto righthand-navigation">
					{% if user.is_authenticated %}

						<li class="nav-item logged-in-username">
							<a class="nav-link" href="{% url 'siteuser:account_management' %}">
								{% if user.siteuser.avatar %}
									<div class="profile-image"><img class="card" src="{{ user.siteuser.avatar.url }}"></div>
									<div class="profile-name">{{ user.siteuser.screen_name }}</div>
								{% else %}
    								<div class="profile-image"><img class="card" src="{% static 'img/django-logo.png' %}"></div>
    								<div class="profile-name">{{ user.siteuser.screen_name }}</div>
								{% endif %}
							 </a>
						</li>

						<li class="nav-item dropdown">
						    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Create</a>
							<div class="dropdown-menu">
							    <a class="dropdown-item" href="{% url 'song:new' %}">New song</a>
							    <a class="dropdown-item" href="{% url 'blog:new' %}">New blog post</a>
							    <a class="dropdown-item" href="{% url 'request:new' %}">New request</a>
							    <a class="dropdown-item" href="{% url 'siteuser:new_group' %}">New group</a>
							</div>
						</li>

						<li class="nav-item dropdown">
						    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></a>
						    <div class="dropdown-menu">
						        <a class="dropdown-item" href="{% url 'siteuser:account_management' %}"><i class="fas fa-desktop"></i> Account</a>
						        <a class="dropdown-item" href="{% url 'siteuser:edit' request.user.siteuser.pk request.user.siteuser.slug %}">Edit profile</a>
							    <a class="dropdown-item" href="{% url 'siteuser:password_change' %}">Change password</a>
							    <a class="dropdown-item" href="{% url 'siteuser:password_reset' %}">Reset password</a>
							    <div class="dropdown-divider"></div>
						        <a class="dropdown-item" href="{% url 'siteuser:library' user.siteuser.pk user.siteuser.slug %}">Library</a>
						        <div class="dropdown-divider"></div>
							    {% if user.siteuser.key %}
							        <a class="dropdown-item" href="{% url 'siteuser:reset_api_key' %}">Reset API key</a>
							    {% else %}
							        <a class="dropdown-item" href="{% url 'siteuser:new_api_key' %}">Get API key</a>
							    {% endif %}
							    <div class="dropdown-divider"></div>
							    <a class="dropdown-item" href="{% url 'siteuser:logout' %}">Logout</a>
							</div>
						</li>

						{% if user.is_admin %}
						<li class="nav-item dropdown">
						    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
							<div class="dropdown-menu">
    							<a class="dropdown-item" href="{% url 'google-api:drive_authorize' %}" target="_blank">Drive</a>
    							<a class="dropdown-item" href="{% url 'google-api:youtube_authorize' %}" target="_blank">YouTube</a>
							    <div class="dropdown-divider"></div>
    							<a class="dropdown-item" href="/admin/"><i class='fas fa-cog fa-spin'></i></a>
    							<a class="dropdown-item" href="{% url 'song-media:midi_index' %}"><i class="fas fa-music"></i></a>
    							<a class="dropdown-item" href="{% url 'song-media:score_index' %}"><i class="fas fa-file-pdf"></i></a>
							</div>
						</li>
						{% endif %}
					{% else %}
						<li class="nav-item login-logout"><a class="btn btn-info btn-sm upload-button" href="{% url 'siteuser:login' %}">Login</a></li>
						<li class="nav-item login-logout"><a class="btn btn-primary btn-sm upload-button" href="{% url 'siteuser:new' %}">Join</a></li>
					    <li class="nav-item login-logout" id=uploadButtonNav><a href="{% url 'song:new' %}" class="btn btn-primary btn-sm upload-button">UPLOAD</a></li>
					{% endif %}

				</ul>
			</div>
		</nav>
		{% endblock navigation %}

		{% block introduction %}
		<section class="jumbotron text-center d-none d-sm-block">
            <div class="container">
                <h1 class="jumbotron-heading">ChoralCentral</h1>
                <p>If music be the food of love ...<p>
                    <a href="{% url 'song:new' %}" class="btn btn-primary">UPLOAD</a>
                    <a href="{% url 'blog:new' %}" class="btn btn-secondary">Blog</a>
                    <a href="{% url 'request:new' %}" class="btn btn-secondary">Request</a>
                    <a href="{% url 'song:instant_song' %}" class="btn btn-secondary" target="_blank">Search</a>
                    <a href="#" class="btn btn-secondary" target="_blank">Douay-Rheims bible</a>
                </p>
                {% if not user.is_authenticated %}
                <a href="{% url 'siteuser:new' %}" class="btn btn-primary join-campaign">
                    Join {{ user_count }} plus people celebrating over {{ song_count }} songs in {{ lang_count }} languages and {{ voice_count }} voices
                </a>
                {% endif %}
            </div>
        </section>
		{% endblock introduction %}

		<div class="container-fluid">
		    {% include 'messages.html' %}
			<div class="row">
				<div class="col-sm-3 leftsidebar">
					{% block left_sidebar %}
					{% endblock left_sidebar %}
				</div>

				<div class="col-sm-6 centerspread" role='main'>

					{% block content_content %}
					    content-block
					{% endblock content_content %}

					{% block javascript %}{% endblock javascript %}

					{% if is_paginated %}
						{% include "pure_pagination.html" %}
					{% endif %}
				</div>

				<div class="col-sm-3 rightsidebar">
					{% block right_sidebar %}
					{% endblock right_sidebar %}
				</div>
			</div>
		</div>

		{% block footer %}
			{% include "footer.html" %}
		{% endblock footer %}

		{% endblock body %}

		<script type="text/javascript" >
			// add attributes to form input elements
			$(document).ready(function(){
				$("#id_username").attr('placeholder', '{{ form.username.label }}');
				$("#id_username").attr('class', 'form-control');

				$("#id_password").attr('placeholder', '{{ form.password.label }}');
				$("#id_password").attr('class', 'form-control');

				$("#id_email").attr('class', 'form-control');
				$("#id_email").attr('placeholder', '{{ form.email.label }}');

				$("#id_old_password").attr('class', 'form-control');
				$("#id_old_password").attr('placeholder', '{{ form.old_password.label }}');
				$("#id_new_password1").attr('class', 'form-control');
				$("#id_new_password1").attr('placeholder', '{{ form.new_password1.label }}');
				$("#id_new_password2").attr('class', 'form-control');
				$("#id_new_password2").attr('placeholder', '{{ form.new_password2.label }}');

				$("#id_password1").attr('class', 'form-control');
				$("#id_password1").attr('placeholder', '{{ form.password1.label }}');
				$("#id_password2").attr('class', 'form-control');
				$("#id_password2").attr('placeholder', '{{ form.password2.label }}');
			});
		</script>

		<script>
			/*
        // Add .active class to navigation menu item.
            $(document).ready(function() {
            //   $('li.active').removeClass('active');
              $('a[href="' + location.pathname + '"]').closest('li').addClass('active');

            //   Remove the class from the big upload button
              $('#uploadButtonNav').removeClass('active');
              $('.logged-in-username').removeClass('active');
              $('.social-management').removeClass('active');
			});
			*/
		</script>

		<script>
			// Initialize tooltip component
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
            // Initialize popover component
			$(function () {
				$('[data-toggle="popover"]').popover()
			})
		</script>
	</body>
</html>
