<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% if unread %}
				({{ unread }})
			{% endif %}
			ChoralCentral | {% block title %}The best way to share sheet music{% endblock title %}
		</title>

		<link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet">

		<!-- <script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script> -->

		{% load staticfiles %}
		{% load static %}
		{% load compress %}
		{% load thumbnail %}

		<link rel="shortcut icon" type="image/png" href="{% static 'favicons/favicon.ico' %}"/>

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/choralcentral.css' %}">

		<!-- {% compress css file %}
			<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/choralcentral.min.css' %}">
		{% endcompress %} -->

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	</head>

	{% block body %}
	<body>
		{% block navigation %}
		<nav class="navbar fixed-top navbar-expand-lg">
			<a class="navbar-brand" href="/">
				<h3 style="color:blanchedalmond" title="https://www.choralcentral.net/">
					ChoralCentral{% if unread %}<sup class="notification" title="{{ unread }} unread messages">{{ unread }}</sup>{% endif %}
				</h3>
			</a>

			<button type="button" class="navbar-toggler my-toggler" data-toggle="collapse" data-target=".navcontent">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse navcontent">
				<ul class="nav navbar-nav lefthand-navigation">
					<li class="nav-item"><a class="nav-link" href="/" title="Home">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'author:index' %}" title="Lyricists and composers">Authors</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'request:index' %}" title="Song requests">Requests</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'blog:index' %}" title="Blog entries">Blog</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'siteuser:index' %}" title="Users">Users</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'song:instant_song' %}" title="Search ChoralCentral"><i class="fas fa-search"></i></a></li>
				</ul>

				<ul class="navbar-nav ml-auto righthand-navigation">
					{% if user.is_authenticated %}

						<li class="nav-item logged-in-username">
							<a class="nav-link" href="{% url 'siteuser:account_management' %}">
								{% thumbnail user.siteuser.avatar "35x35" crop="center" as im %}
									<div class="profile-image"><img class="card" src="{{ user.siteuser.avatar.url }}"></div>
								{% empty %}
    								<div class="profile-image"><img class="card" src="{% static 'img/django-logo.png' %}"></div>
								{% endthumbnail %}
								<div class="profile-name">{{ user.siteuser.screen_name }}</div>
							 </a>
						</li>

						<li class="nav-item dropdown">
						    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">New</a>
							<div class="dropdown-menu">
							    <a class="dropdown-item" href="{% url 'song:new' %}">Song</a>
							    <a class="dropdown-item" href="{% url 'blog:new' %}">Blog post</a>
							    <a class="dropdown-item" href="{% url 'request:new' %}">Request</a>
							</div>
						</li>

						<li class="nav-item dropdown">
						    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></a>
						    <div class="dropdown-menu">
						        <a class="dropdown-item" href="{% url 'siteuser:account_management' %}">My account</a>
						        <a class="dropdown-item" href="{% url 'siteuser:edit_profile' %}">Edit profile</a>
							    <a class="dropdown-item" href="{% url 'siteuser:password_change' %}">Change password</a>
							    <a class="dropdown-item" href="{% url 'siteuser:password_reset' %}">Reset password</a>
							    <div class="dropdown-divider"></div>
						        <a class="dropdown-item" href="{% url 'siteuser:library' user.siteuser.pk user.siteuser.slug %}">Library</a>
						        <div class="dropdown-divider"></div>
							    {% if user.siteuser.key %}
							        <a class="dropdown-item" href="{% url 'siteuser:reset_api_key' %}">Reset API key</a>
							    {% else %}
							        <a class="dropdown-item" href="{% url 'siteuser:new_api_key' %}">Get API key</a>
							    {% endif %}
							    <div class="dropdown-divider"></div>
							    <a class="dropdown-item" href="{% url 'siteuser:logout' %}">Logout</a>
							</div>
						</li>
						<li class="nav-item dropdown">
						    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-info-circle"></i></a>
							<div class="dropdown-menu">
							    <a class="dropdown-item" href="">Notice 1</a>
							</div>
						</li>

						{% if user.is_admin %}
						<li class="nav-item dropdown">
						    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
							<div class="dropdown-menu">
    							<a class="dropdown-item" href="{% url 'google-api:drive_authorize' %}" target="_blank">Drive</a>
    							<a class="dropdown-item" href="{% url 'google-api:youtube_authorize' %}" target="_blank">YouTube</a>
							    <div class="dropdown-divider"></div>
    							<a class="dropdown-item" href="/admin/">Django admin</a>
    							<a class="dropdown-item" href="{% url 'siteuser:admin_media_index' %}">Media index</a>
							</div>
						</li>
						{% endif %}
					{% else %}
						<li class="nav-item login-logout"><a class="btn btn-info btn-sm upload-button" href="{% url 'siteuser:login' %}">Log In</a></li>
						<li class="nav-item login-logout"><a class="btn btn-primary btn-sm upload-button" href="{% url 'siteuser:new' %}">Sign Up</a></li>
					    <li class="nav-item login-logout" id=uploadButtonNav><a href="{% url 'song:new' %}" class="btn btn-primary btn-sm upload-button">UPLOAD</a></li>
					{% endif %}

				</ul>
			</div>
		</nav>
		{% endblock navigation %}

		{% block introduction %}
		{% if not user.is_authenticated %}
		<section class="jumbotron text-center d-none d-sm-block">
            <div class="container">
                <h1 class="jumbotron-heading">ChoralCentral</h1>
                <p>If music be the food of love ...<p>
                    <a href="{% url 'song:new' %}" class="btn btn-primary">UPLOAD</a>
                    <a href="{% url 'blog:new' %}" class="btn btn-secondary">Blog</a>
                    <a href="{% url 'request:new' %}" class="btn btn-secondary">Request</a>
                    <a href="{% url 'song:instant_song' %}" class="btn btn-secondary">Search</a>
                    <a href="{% url 'douay-rheims:bible_index' %}" class="btn btn-secondary">Douay-Rheims bible</a>
                </p>

                <p class="my-0">
                	<a href="{% url 'siteuser:new' %}" class="btn btn-primary join-campaign">
	                    Join us celebrate over {{ song_count }} songs in {{ lang_count }} languages and {{ voice_count }} voices
	                </a>
                </p>
            </div>
        </section>
        {% endif %}
		{% endblock introduction %}

		<div class="container-fluid">
		    {% include 'messages.html' %}
			<div class="row">
				<div class="col-sm-3 leftsidebar">
					{% block left_sidebar %}
					{% endblock left_sidebar %}
				</div>

				<div class="col-sm-6 centerspread" role='main'>
					{% block content_content %}
					    content-block
					{% endblock content_content %}

					{% block javascript %}{% endblock javascript %}

					{% if is_paginated %}
						{% include "pure_pagination.html" %}
					{% endif %}
				</div>

				<div class="col-sm-3 rightsidebar">
					{% block right_sidebar %}
					{% endblock right_sidebar %}
				</div>
			</div>
		</div>

		<footer>
			{% block footer_top %}{% include "footer_top.html" %}{% endblock footer_top %}
			{% block footer_middle %}{% include "footer_middle.html" %}{% endblock footer_middle %}
			{% block footer_bottom %}{% include "footer_bottom.html" %}{% endblock footer_bottom %}
		</footer>

		{% endblock body %}

		<!--
		<script>
        // Add .active class to navigation menu item.
            $(document).ready(function() {
            //   $('li.active').removeClass('active');
              $('a[href="' + location.pathname + '"]').closest('li').addClass('active');

            //   Remove the class from the big upload button
              $('#uploadButtonNav').removeClass('active');
              $('.logged-in-username').removeClass('active');
              $('.social-management').removeClass('active');
			});
		</script>
		-->

		<!--
		<script>
			// Initialize tooltip component
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
            // Initialize popover component
			$(function () {
				$('[data-toggle="popover"]').popover()
			})
		</script>
		-->

		<!-- Sentry JS SDK 2.1.+ required -->
		<script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
		{% if request.sentry.id %}
			<script>
			Raven.showReportDialog({
				eventId: '{{ request.sentry.id }}',

				// use the public DSN (dont include your secret!)
				dsn: 'https://b6ecc578313140618b41d13175ed6152@sentry.io/1222272'
			});
			</script>
		{% endif %}

		<!--These javascript files are render-blocking and are not needed to render initial page, so I moved them here-->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

		<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
		<script src="//cdn.jsdelivr.net/g/algoliasearch,algoliasearch.helper"></script>
		<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>
		<script defer src='https://www.google.com/recaptcha/api.js'></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

		<script type="text/javascript" src="{% static 'js/choralcentral.min.js' %}"></script>
		<!--Django add another, for view popup. These two below lines must follow one another in the same order.-->
		<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
		{{ form.media }}

	</body>
</html>
