{% extends "choralcentral_base.html" %}
{% block title %}Contact me{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% block content_content %}

<h2>Contact the owner/developer</h2>
<hr>

<p>In case you run into any problems while using the site please contact me on my personal email <a href="mailto:orjichidi95@gmail.com">orjichidi95@gmail.com</a>. I'll get to it as soon as I see it. Thanks</p>

<p>For business-related issues please contact me on <a href="mailto:choralcentral@gmail.com">choralcentral@gmail.com</a></p>

<p>For suggestions, kindly use this <a href="">form</a>. The form doesn't track you. You can use it even if you're not logged in.</p>
{% endblock content_content %}
