{% extends "choralcentral_base.html" %}
{% block title %}Contact me{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Contact the owner/developer</h3>
    </div>
</div>

<p>In case you run into any problems while using the site please contact me on my personal email <a href="mailto:orjichidi95@gmail.com">orjichidi95@gmail.com</a>. I'll get to it as soon as I see it. You can also reach me for suggestions. Thanks</p>

<p>For business-related matters please contact me on <a href="mailto:choralcentral@gmail.com">choralcentral@gmail.com</a>.</p>

{% endblock content_content %}
