{% extends "choralcentral_base.html" %}
{% block title %}Contact me{% endblock title %}

{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Contact the developer</h3>
    </div>
</div>

<p>In case you run into any problems while using the site or you want to make any other enquiries, here's my email <a href="mailto:choralcentral@gmail.com">choralcentral@gmail.com</a>. I'll get to it as soon as I see it. You can also reach me for suggestions. Thanks</p>

{% endblock content_content %}
