{% extends "choralcentral_base.html" %}
{% block title %}Credits{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% block content_content %}

<h2>Credits</h2>
<hr>
<p>Special thanks to the following people/resources for making this project a success.</p>

<ol>
    <li><a href="https://stackoverflow.com/">Stackoverflow</a></p></li>
    <li><a href="https://duckduckgo.com/">DuckDuckGo</a></li>
    <li><a href="https://google.com/">Google</a></li>
    <li><a href="https://algolia.com/">Algolia</a></li>
    <li><a href="https://simpleisbetterthancomplex.com/">Simple is better than complex</a></li>
    <li><a href="https://linux.die.net/man/1/pdftoppm">pdftoppm</a></li>
    <li><a href="https://askubuntu.com/">Ask Ubuntu community</a></li>
    <li><a href="http://hilite.me">hilite.me</a></li>
    <li><a href="https://github.com/fcurella/django-social-share">Django social share</a></li>
    <li><a href="https://en.wikipedia.org/wiki/List_of_musical_genres_by_era">Music genres</a></li>
    <li><a href=""></a></p></li>
</ol>
{% endblock content_content %}
