{% extends "choralcentral_base.html" %}
{% block title %}Credits{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% block content_content %}

<h2>Credits</h2>
<p>Special thanks to the following people/resources for making this project a success.</p>

<ol>
    <li><p><a href="https://stackoverflow.com/">Stackoverflow</a></p></li>
    <li><p><a href="https://duckduckgo.com/">DuckDuckGo</a></p></li>
    <li><p><a href="https://google.com/">Google</a></p></li>
    <li><p><a href="https://algolia.com/">Algolia</a></p></li>
    <li><p>Vitor Freitas over at <a href="https://simpleisbetterthancomplex.com/">Simple is better than complex</a></p></li>
    <li><p><a href="https://linux.die.net/man/1/pdftoppm">pdftoppm</a></p></li>
    <li><p><a href="https://askubuntu.com/">Ask Ubuntu</a> community</p></li>
    <li><p><a href=""></a></p></li>
</ol>
{% block footer %}{% endblock footer %}
{% endblock content_content %}
