{% block footer_top %}
<div class="large-print text-left d-none d-sm-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 large-print-item">
                <h3>Find music</h3>
                <p><span class="h5 text-primary">Instant search</span><br>
                    Make use of our instant search feature to find what you're looking for.</p>
                <p><a class="btn btn-primary" href="{% url 'song:instant_song' %}">Search</a></p>
            </div>
            
            <div class="col-md-3 col-sm-6 large-print-item">
                <h3>Contribute</h3>
                <p><span class="h5 text-primary">We appreciate you.</span><br>
                    A big thanks to every one of members for their contribution.
                </p>
                <p><a class="btn btn-primary" href="{% url 'song:new' %}">Upload</a></p>
            </div>
            
            <div class="col-md-3 col-sm-6 large-print-item">
                <h3>Blog</h3>
                <p><span class="h5 text-primary">Share your thoughts</span><br>
                    Start a thread to discuss your favourite song or any other musical topic.
                </p>
                <p><a class="btn btn-primary" href="{% url 'blog:new' %}">Blog</a></p>
            </div>
        
            <div class="col-md-3 col-sm-6 large-print-item">
                <h3>Request</h3>
                <p><span class="h5 text-primary">Trust the community.</span><br>
                    Request for your favourite scores and get notified when someone responds.</p>
                <p><a class="btn btn-primary" href="{% url 'request:new' %}">Request</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock footer_top %}
