<footer>
    <div class="large-print text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 large-print-item">
                    <h3>Find music</h3>
                    <p><span class="h5">Instant search</span><br>
                        Make use of our instant search feature to find what you're looking for.</p>
                    <p><a class="btn btn-primary" href="{% url 'song:instant_song' %}">Search</a></p>
                </div>

                <div class="col-md-3 col-sm-6 large-print-item">
                    <h3>Contribute</h3>
                    <p><span class="h5">We appreciate you.</span><br>
                        A big thanks to every one of our awesome
                        members who take their time to upload great music.
                    </p>
                    <p><a class="btn btn-primary" href="{% url 'song:new' %}">Upload</a></p>
                </div>

                <div class="col-md-3 col-sm-6 large-print-item">
                    <h3>Blog</h3>
                    <p><span class="h5">Unleash your muse.</span><br>
                        Start a thread to discuss your favourite song or any other musical topic.
                    </p>
                    <p><a class="btn btn-primary" href="{% url 'blog:new' %}">Blog</a></p>
                </div>

                <div class="col-md-3 col-sm-6 large-print-item">
                    <h3>Request</h3>
                    <p><span class="h5">Trust in the community.</span><br>
                        Request for your favourite scores and get instant notification as soon as someone responds</p>
                    <p><a class="btn btn-primary" href="{% url 'request:new' %}">Request</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="feeds text-center">
        <h5>Feeds</h5>
        <div class="container">
            <p>
                <a aria-hidden="true" href="{% url 'song:midi_feed' %}">Midi</a> &#124;
                <a aria-hidden="true" href="{% url 'song:song_feed' 'popular' %}">Popular</a> &#124;
                <a aria-hidden="true" href="{% url 'song:song_feed' 'latest' %}">Latest</a> &#124;
                <a aria-hidden="true" href="{% url 'blog:post_feed' %}">Blog</a>
            </p>
        </div>
    </div>

    <div class="fine-prints text-center">
        <div class="container">
                <p><a href="/"><i class="fa fa-home"></i>Home</a>
                    &#124;
                    <a href="">Terms</a>
                    &#124;
                    <a target="_blank" href="https://parousiaic.github.io/">Contact</a>
                    &#124;
                    <a href="">Disclaimer</a>
                </p>
                <p class="copyright">&#169; Copyright 2018 choralcentral.com <a href="#"><i class='fas fa-arrow-up'></i></a></p>
        </div>
    </div>
</footer>