{% extends "choralcentral_base.html" %}
{% block title %}Privacy policy{% endblock title %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<h2>Privacy policy</h2>
<p>(Last updated: <code>20th May, 2018</code>)</p>
<hr>


<h3>Information (personal) we collect</h3>
<p>
    When you first register an account with <a href="/">ChoralCentral</a> we require that you provide an email address.
    After your registration, we have an option for you to include additional information. This is completely optional and is available
    via the edit profile option.
</p>

<hr>

<h3>What we do with your information</h3>
<p>We use your email address specifically for the following</p>
<ol>
    <li>To register you in our system when you first sign up (in combination with your password).</li>
    <li>To identify you in our system when you return (in combination with your password)</li>
    <li>To reset your password in the event that you lose it.</li>
</ol>


<hr>
<h3>How and with whom we share your information</h3>



{% endblock content_content %}
