{% extends "choralcentral_base.html" %}
{% block title %}Privacy policy{% endblock title %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Privacy policy (Last updated: <code>21st June, 2018</code>)</h3>
    </div>
</div>

<h3>Information we collect</h3>
<p>
    When you first register an account with <a href="/">ChoralCentral</a> we require that you provide a valid and working email address.
    After your registration, we have an option for you to include additional information. This is completely optional and is available
    via the edit profile option.
</p>
<p>In sum we collect the following information</p>
<ol class="privacy-policy">
    <li>Email address (mandatory)</li>
    <li>First name (optional)</li>
    <li>Last name (optional)</li>
    <li>Location (optional)</li>
</ol>

<hr>

<h3>What we do with your information</h3>
<p>We use your email address for the following purposes, among others</p>
<ol>
    <li>To register you in our system when you first sign up (in combination with your password).</li>
    <li>To identify you in our system when you return (in combination with your password)</li>
    <li>To reset your password in the event that you lose it.</li>
    <li>Any other purpose which we deem fit for purposes of making the site better, such as analytics and so on.</li>
</ol>


<hr>
<h3>How and with whom we share your information</h3>

<p>Presently, we do not share any of your information with any third party. But we do have an API</p>



{% endblock content_content %}
