{% extends "choralcentral_base.html" %}
{% block title %}Terms, conditions, and disclaimer{% endblock title %}


{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Terms and conditions</h3>
    </div>
</div>
<p>By continuing to use this site you agree to the following terms</p>

<ol class="terms-of-use">
    <li>These terms are subject to changes in the future.</li>
    <li>You have read, understood, and accept <a href="/">ChoralCentral</a>'s <a href="/privacy-policy/">privacy policy</a></li>
    <li>You are solely responsible for whatever you post on this site. We bear no liabilities whatsoever.</li>
    <li>You will not post copyrighted content without express written permission to do so from the copyright owner.</li>
    <li>In the event that you no longer want to continue being a part of this site and wish to delete your account,
    content you already posted will continue to remain on this site. Any item you wish should no longer be available for public usage must be manually
    deleted by yourself before you delete your account.</li>
</ol>

{% endblock content_content %}
