{% extends "choralcentral_base.html" %}
{% block title %}To fix{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% block content_content %}

<h2>Things to fix</h2>
<hr>
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://www.wikihow.com/Create-a-Website-Privacy-Policy
http://www.allaboutcookies.org/privacy-policy.htm

<p><a href="https://termsfeed.com/privacy-policy/4e6cfb5455bbe14cba1e885265ac9cee">Termsfeed policy</a></p>

<div class="container">
    <ol>
        <li><span class="text-primary">Write privacy policy</span></li>
        <li><span class="text-primary">Write terms of use</span></li>
        <li><span class="text-primary">Write proper like script</span></li>
        <li><span class="text-primary">mp3 and midi display in song detail view</span></li>
        <li><span class="text-primary">Fix quoted comment display</span></li>
        <li><span class="text-primary">Write post likers view</span></li>
        <li><span class="text-primary">Write tests for social logins</span></li>
        <li><span class="text-primary">Fix groups</span></li>
        <li><span class="text-primary">Implement stackoverflow-like suggestion when creating new song or author</span></li>
        <li><span class="text-primary">Implement notification system (for request reply)</span></li>
        <li><span class="text-primary">Custom authentication for all API views</span></li>
        <li><span class="text-primary">Posts can contain pictures</span></li>
        <li><span class="text-primary"></span></li>
    </ol>
</div>
{% endblock content_content %}
