<!DOCTYPE html>
<html>
    <head>
        <title>ChoralCentral &raquo; Where sheet music lives</title>

        <style>
            body {background: rgb(48, 48, 48)}
            p {color:rgb(17, 240, 17);}
            a { color: #2617eb}
            a:hover {text-decoration: underline; color: #007bff;}
        </style>
    </head>

    <body>
        <h2>Welcome to <a href="http://choralcentral.pythonanywhere.com/">ChoralCentral</a>!!! {{ screen_name }}</h2>
        
        <p>To activate your account and start uploading, please follow the link below<br>
        
        {{ activation_link }}</p>
    </body>
</html>
