{% extends "choralcentral_base.html" %}
{% block title %}{{ request }}{% endblock title %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}
<div class='container request-detail-heading'>
    <div class='row'>
        <div class='col-sm-12'>
            {% if request.status %}
                <h4 class='text-success'>Replies to {{ request }}</h4>
                <h6><em>
                    <a href="{% url 'siteuser:library' request.creator.pk request.creator.slug %}">{{request.creator.screen_name }}</a>
                    | {{ request.created|date }}
                    </em>
                </h6>
                <h6>Thanks to {{ request.answer.creator.screen_name }}</h6>
            {% else %}
                <h4>Replies to {{ request }}</h4>
                <h6><em>
                    <a href="{% url 'siteuser:library' request.creator.pk request.creator.slug %}">{{request.creator.screen_name }}</a>
                    | {{ request.created|date }}
                    </em>
                </h6>
            {% endif %}

            <span class='float-right'>
            <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'request:reply_new_from_request' request.pk %}">Add reply</a>
            </span>
        </div>
    </div>
</div>

{% for reply in request.reply_set.all %}
    <div class="request-detail-replies">
        <span class='h5 float-left'>
            <a href="{% url 'song:detail' reply.song.pk reply.song.slug %}">{{ reply.song }}</a>
        </span>

        {% if request.status %}
        {% else %}
        <span class="float-right">
            <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'request:accept_reply' request.pk reply.song.pk %}" title='Mark this song as accepted reply.'><i class='fas fa-check'></i></a>
        </span>
        {% endif %}
    </div>
{% empty %}
    <p>No posts for this request yet</p>
{% endfor %}

{% endblock %}
