{% extends "choralcentral_base.html" %}
{% block title %}Requests{% endblock %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<h1>Requests</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/song">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Requests</li>
    </ol>
</nav>

{% for request in requests %}
    <div class="list-requests">
        <h4><a href="{% url 'request:detail' request.pk %}" title="Request for {{ request }}">{{ request }}</a></h4>

        <h6><em>
            <a href="{% url 'siteuser:library' request.creator.pk request.creator.slug %}">{{request.creator.screen_name }}</a>
            | {{ request.created|date }}
            </em>
        </h6>

        <div>
            <span class="h5 float-right">
                <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'request:filter' %}?status={{ request.status }}">{% if request.status %}Fulfilled{% else %}Unfulfilled{% endif %}</a>
                <a class="btn btn-sm btn-primary icon-buttons" href="{% url 'request:reply_new_from_request' request.pk %}" title="Reply"><i class="fas fa-reply" aria-hidden="true"></i></a>

                <span class="btn btn-sm btn-primary icon-buttons" title="Replies">
                    {{ request.reply_set.count }}
                </span>
            </span>
        </div>
    </div>
{% empty %}
    <p style="margin-bottom:25rem">No request at the moment.</p>
{% endfor %}

{% endblock content_content %}

