{% extends "choralcentral_base.html" %}
{% block title %}Requests{% endblock %}

{% block content_content %}
<h2>Requests
    <span class="float-right"><a class="btn btn-primary" href="{% url 'request:new' %}">New Request</a></span>
</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <caption>requests</caption>
        </thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>User</th>
            <th>Date</th>
            <th>Replies</th>
            <th>Rescue</th>
        </tr>

        <tbody>
            {% for request in requests %}
                <tr>
                    <td><a href="{% url 'request:detail' request.pk request.slug %}">{{ request }}</td>
                    <td><a href="{% url 'request:filter' %}?status={{ request.status }}">{{ request.status }}</td>
                    <td><a href="{% url 'siteuser:detail' request.originator.pk request.originator.slug %}">{{request.originator.screen_name }}</td>
                    <td><a href="#">{{ request.created|date }}</a></td>
                    <td>{{ request.reply_set.count }}</td>
                    <td><a href="{% url 'request:reply_new_from_request' request.pk %}"><i class="fa fa-medkit" aria-hidden="true"></i></a></td>
                </tr>
            {% empty %}
                <p>No request at the moment.</p>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content_content %}

