{% extends "choralcentral_base.html" %}

{% block title %}Reply request{% endblock %}
{% block wrap_filter %}{% endblock wrap_filter %}

{% block content_content %}

<div  class="container upload-forms">
    <div class="row">
        <div class="col-sm-12">
            <h2>Reply request</h2>
        </div>
    </div>
        
    {% if form.errors %}
    <div class="row">
        <div class="col-sm-12">
            <p>{{ form.errors }}</p>
        </div>
    </div>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-sm-12"></div>
        </div>

        <div class="row">
                <div class="col-sm-12"></div>
            </div>

            <div class="row">
                    <div class="col-sm-12"></div>
                </div>

        <table>
        {{ form }}
        </table>

        <div class="row">
            <div class="col-sm-12">
                <button  class="btn btn-primary btn-md btn-block" type="submit" value="Save">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock content_content %}


