{% extends "choralcentral_base.html" %}
{% block title %}Reply request{% endblock %}

{% block wrap_content %}{% endblock wrap_content %}

{% block content_content %}
<div  class="container upload-forms">
    <h2>Reply request</h2>
        
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-primary btn-sm float-right" type="submit" value="Save">Save</button>

    </form>
{% endblock content_content %}

