{% extends "choralcentral_base.html" %}
{% block title %}Replies to {{ request }}{% endblock title %}
{% block content_content %}

<h2>Replies to {{ request }}</h2>

<div class="list-group">
    {% for reply in request.reply_set.all %}
        <div class="list-group-item list-group-item-primary">
            <h3><a href="{% url 'song:song_detailview' reply.song.pk reply.song.slug %}">{{ reply.song }}</a></h3>
        </div>
    {% empty %}
        <p>No posts for this request yet</p>
    {% endfor %}
</div>

{% endblock %}
