{% extends "choralcentral_base.html" %}
{% block title %}{{ author }}{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% load author_ttags %}

{% block content_content %}

<div class='container author-heading'>
    <div class='row'>
        <h3 class="float-left">{{ author }} - {{ author.author_type|title}}</h3>
    </div>
</div>

<div class='container author-bio-heading'>
    <div class='row'>
        <h5 class='float-left'>Biography</h5>
    </div>
</div>

<div class='container author-bio-text'>
    {% if author.bio %}
        {{ author.bio|markdown_format }}
    {% else %}
        <p>Unavailable</p>
    {% endif %}
</div>

<div class='container author-songs-heading'>
    <div class='row'>
        <h5 class='h5 float-left'>Songs</h5>
    </div>
</div>

{% for song in author_songs %}
    <div class="list-author-songs">
        {% if song.publish %}
            <h5><a href="{% url 'song:detail' song.pk song.slug %}">{{ song.title|title }}</a></h5>
        {% else %}
            <h5><a class="text-danger" href="{% url 'song:detail' song.pk song.slug %}">{{ song.title|title }}</a></h5>
        {% endif %}
    </div>
{% empty %}
    <p>Author has no song</p>
{% endfor %}

<p>First added by <a href="{% url 'siteuser:library' author.creator.pk author.creator.slug %}">{{ author.creator.screen_name }}</a></p>
{% endblock content_content %}
