{% extends "choralcentral_base.html" %}
{% block title %}{{ author }}{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% load author_ttags %}

{% block content_content %}

<div class='container author-heading'>
    <div class='row'>
        <div class='col-sm-12'>
            <h5>{{ author }} - {{ author.author_type|title}}</h5>
        </div>
    </div>
</div>

<div class='container author-heading'>
    <div class='row'>
        <div class='col-sm-12 head-title'>
            <span class='h5 float-left'>Biography</span>
        </div>
    </div>
</div>

<div class='container author-bio-text'>
    {{ author.bio|markdown_format }}
</div>

<div class='container author-heading'>
    <div class='row'>
        <div class='col-sm-12 head-title'>
            <span class='h5 float-left'>Songs</span>
        </div>
    </div>
</div>


{% for song in author.song_set.all|published_author_songs %}

<div class="list-author-songs">
    <h5><a href="{% url 'song:detail' song.pk song.slug %}">{{ song.title }}</a></h5>
</div>
{% empty %}
    <p>Author has no song</p>
{% endfor %}

<p>First added by <a href="{% url 'siteuser:detail' author.originator.pk author.originator.slug %}">{{ author.originator.screen_name }}</a></p>
{% endblock content_content %}
