{% extends "choralcentral_base.html" %}
{% block title %}Lyricists and Composers{% endblock %}
{% block introduction %}{% endblock introduction %}
{% load author_ttags %}

{% block content_content %}

<div class='container author-heading'>
    <div class='row'>
        <h3 class='float-left'>Lyricists and Composers</h3>
    </div>
</div>

{% for author in authors %}
<div class="list-authors">
    <h5><a href="{% url 'author:detail' author.pk author.slug %}">{{ author }}</a></h5>
    <p>{{ author.author_type|title }} &#124;
        {% with auth=author.song_set.all|published_author_songs %}
            {{ auth.count }}
        {% endwith %} songs</a>
    </p>
</div>
{% empty %}
    <p>No authors added yet</p>
{% endfor %}
{% endblock content_content %}
