{% extends "choralcentral_base.html" %}
{% block title %}Lyricists and Composers{% endblock %}

{% load author_ttags %}

{% block content_content %}

<h1>Authors</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/song">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Authors</li>
    </ol>
</nav>

{% for author in authors %}
    <h2>{{ forloop.counter }} - <a href="{% url 'author:detail' author.pk author.slug %}">{{ author }}</a></h2>
    <p>{{ author.author_type|title }} &#124;
        {% with auth=author.song_set.all %}
            {{ auth|count_published }}
        {% endwith %} published songs</a>
    </p>
    
    <hr>
{% empty %}
    <p style="margin-bottom:25rem">No authors added yet</p>
{% endfor %}
{% endblock content_content %}
