{% extends "choralcentral_base.html" %}
{% block title %}New Author{% endblock %}

{% block content_content %}

<div class="container upload-forms">
    <h2>New Author</h2>

    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

       <p>{{ form.author_type }}</p>
       <p>{{ form.first_name }}</p>
       <p>{{ form.last_name }}</p>
       <p>{{ form.bio }}</p>

        <button class="btn btn-primary btn-lg float-right" type="submit" value="Save">Save</button>
    </form>
</div>
{% endblock content_content %}
