{% extends "somto_base.html" %}

{% block title %}New Author{% endblock %}
{% block wrap_filter %}{% endblock wrap_filter %}

{% block wrap_content  %}{% endblock wrap_content %}
{% block search %}{% endblock search %}


{% block content_forms %}

<div class="container upload-forms">
    <div class="row">
        <div class="col-sm-12"><h2>New Author</h2></div>
    </div>
    
    {% if error_message %}
    <div class="row">
        <p>{{ error_message }}</p>
    </div>
    {% endif %}
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12">{{ form.author_type }}</div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">{{ form.first_name }}</div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">{{ form.last_name }}</div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">{{ form.bio }}</div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                <button  class="btn btn-primary btn-md btn-block" type="submit" value="Save">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock content_forms %}
