.list-group-item {
    padding: .1rem 1.00rem;
    margin-top: 10px;
    background-color: azure;
    border-radius: 5px;
  }

 .badge-light {
   background-color: coral;
   color: midnightblue;
 }

.table td {
    padding: .2rem .5rem .2rem .5rem;
    border-top: 0px;
}

.table th {
    padding: 0 .5rem 0 .5rem;
    border-top: none;
}

.table {
    margin-bottom: 0px;
}

.table tbody+tbody {
    border: none;
}

.fixed-top {
    box-shadow: -1px 1px 20px 0px #721c24
}

.pagination {
    text-align: center;
    font-weight: bold;
    display: block;
    padding: 40px 0;
}

.row {
    padding: 0.5rem 0;
}

.form-control {
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.my-toggler.navbar-toggler {
    border-color: rgb(250, 57, 57);
}
.my-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 57, 57, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}