body {
  background: #EFEFEF;
  color: #0000A0;
  padding-top: 62px;
}

nav {
  /*background: #830065*/
  background: midnightblue;
}

h1, h2, h3, h4, h5, h6 {
	color: darkblue;
  }

p {
  color: midnightblue;
  margin-bottom: .25rem;
}

a {
  /* color: midnightblue; */
}

a:hover {
  /* text-decoration: none; */
  text-decoration: underline;
}

.logo-container {
  height: 100%;
  float: left;
  text-align: justify;
}

.logo {
  float: left;
  width: 15%;
}

.navbar-nav a {
   color: #BCC6CC;
   font-size: 16px;
   font-weight: bold;
}

.instant-search {
  padding: 20px 0;
}

.content-block {
  background-color: #cdd0d7;
  max-width: 1000px;
  margin: auto;
  box-shadow: 1px 3px 7px 3px #c4c7ce inset;
  border-radius: 5px;
  padding-bottom: 10px;
}

.filter-block {
  max-width:400px;
  margin: auto;
  background: #e9ecef;
  margin-top: 0.5rem;
  padding: .5rem 1rem 3rem 1rem;
  border-radius: 7.5px;
  border: 1px solid mintcream;
}



.filter-block .btn-lg {
  margin-top: 0.75rem;
}

.upload-forms {
  max-width:600px;
  margin-top: 3.5rem;
  /* margin: 3.5rem auto; */
  padding: 0 1rem 4.75rem 1rem;
  background: #a3baf0;
  border-radius: 7.5px;
}

.upload-forms h2 {
  padding-top: 0.5rem;
}

.upload-forms .btn-lg {
  margin-top: 0.75rem;
  font-size: 24px;
}

.login-form {
  max-width:350px;
  margin:auto;
  border: 1px solid blue;
  border-radius: 5px;
  padding-bottom: 4rem;
  margin-top: 10rem;
}

.related-widget-wrapper-link {
  background: blanchedalmond;
}

/* Add icons to registration form fields */
.form-group {
  position: relative;
  color: #aaa;
}

.login-logo {
  margin:auto;
}


input#id_username {
  text-indent: 30px;
  position: relative;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

input#id_password {
  text-indent: 30px;
  position: relative;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.fa-user {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 25px;
  color: rebeccapurple;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}

.fa-unlock-alt {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 25px;
  color: rebeccapurple;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}

.btn-lg-span {
  vertical-align: middle;
  font-size: 22px;
}


.large-print {
  padding: 40px 0;
  margin-top: 40px;
  text-align: left;
  background: #d3d3d3;
}

.large-print-item {
  padding: 20px 10px;
  text-align: left;

}

.feeds  {
  padding: 30px 0;
  background-color: silver;
}

.feeds > .container > .row {
  text-align: center;
}

.fine-prints {
  /* text-align: center; */
  padding: 30px 0;
}

.copyright {
  margin: 20px 0;
}

.dash-values {
  /* padding-left: 0px; */
  word-break: break-all;
}

.dash-subject {
  padding-right: 0px;
}

.dash-main-col {
  /* padding: 0 0; */
}

.dash-main-cont {
  padding-right: 0;
  padding-left: 0;
}

.dash-main-cont > .row {
  background: azure;
  margin: 10px 0;
  border: .25px solid black;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #1b1e21;
}

.feed-list {
  list-style: none;
  display: inline;
}

/*OVERRIDE BOOTSTRAP CLASSES*/

.list-group-item {
    padding: .1rem 1.00rem;
    margin-top: 10px;
    background-color: azure;
    border-radius: 5px;
  }

 .badge-light {
   background-color: coral;
   color: midnightblue;
 }

.table td {
    padding: .2rem .5rem .2rem .5rem;
    border-top: 0px;
}

.table th {
    padding: 0 .5rem 0 .5rem;
    border-top: none;
}

.table {
    margin-bottom: 0px;
}

.table tbody+tbody {
    border: none;
}

.fixed-top {
    box-shadow: -1px 1px 20px 0px #721c24
}

.pagination {
    text-align: center;
    font-weight: bold;
    display: block;
    padding: 40px 0;
}

.row {
    padding: 0.5rem 0;
}

.form-control {
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.my-toggler.navbar-toggler {
    border-color: rgb(250, 57, 57);
}
.my-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 57, 57, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
