body {
  color: midnightblue;
  padding-top: 3.4rem;
}

/*NAVIGATION*/

nav {
  background: midnightblue;
}

.fixed-top {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.navbar-nav a {
   color: #BCC6CC;
   font-size: 16px;
   font-weight: bold;
}

.my-toggler.navbar-toggler {
    border-color: rgb(250, 57, 57);
}
.my-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 57, 57, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

ul.nav > li.logged-in-username.active {
    margin-right: .35rem;
    margin-top: .35rem;
    margin-bottom: .45rem;
}

ul.nav > li.logged-in-username.active > a.nav-link {
    padding-bottom: .35rem;
    padding-top: .35rem;
}
/*GENERIC ELEMENTS*/

h1, h2, h3, h4, h5, h6 {
	color: midnightblue;
}

.active {
    background: white;
    border-radius: .2rem;
}

.active > a.nav-link {
    color: blue;
}

a {
  /* color: midnightblue; */
}

a:hover {
   text-decoration: none;
}

.jumbotron {
    margin-bottom: 0;
    background: #cacaca;
}

section a {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

label {
  font-weight: bold;
}

hr {
    border: 0;
    border-top: 1px solid midnightblue;
}

.instant-search {
  padding: 20px 0;
}

.content-block {
  background-color: #cdd0d7;
  max-width: 1000px;
  margin: auto;
  box-shadow: 1px 3px 7px 3px #c4c7ce inset;
  border-radius: .3rem;
  padding-bottom: 10px;
}

th, td {
    white-space: nowrap;
}

/*SONG FILTER BLOCK*/

.filter-block {
  max-width:400px;
  margin: auto;
  background: #e9ecef;
  margin-top: 0.5rem;
  padding: .5rem 1rem 3rem 1rem;
  border-radius: .3rem;
  border: 1px solid mintcream;
}

.filter-block .btn-sm {
  margin-top: 0.5rem;
}

/*UPLOAD FORMS*/

.upload-forms {
  max-width:450px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0 1rem 2.75rem 1rem;
  background: #f0eeee;
  border: 1px solid #d7d7d7;
  border-radius: .3rem;
}

a.upload-button {
    color: white;
    margin-right: .35rem;
    margin-top: .3rem;
}
.related-widget-wrapper-link {
  background: blanchedalmond;
}

/*AUTHOR*/

.list-authors {
    padding: .1rem 1rem .5rem 1rem;
    margin: .75rem 0;
    background: #e9ecef;
    border-radius: .3rem;
    border: 1px solid rgba(0,0,0,.125);
}

.list-authors > p {
    margin-bottom: 0;
}

.list-authors > h5 {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.author-heading {
  background: #f2f3fb;
  border: .6px solid midnightblue;
  margin: .5rem 0;
  border-radius: .3rem;
}

.author-heading > .row > .col-sm-12 > span {
  margin-top: .5rem;
}

.author-bio-text {
    padding: .5rem 1rem .5rem 1rem;
    margin: .75rem 0;
    background: #e9ecef;
    border-radius: .3rem;
    border: 1px solid rgba(0,0,0,.125);
}

.list-author-songs {
    padding: .5rem 1rem .5rem 1rem;
    margin: .75rem 0;
    background: #e9ecef;
    border-radius: .3rem;
    border: 1px solid rgba(0,0,0,.125);
}

/*BLOG*/

.list-blog-posts {
    padding: .1rem 1rem 2.2rem 1rem;
    margin: .75rem 0;
    background: #e9ecef;
    border-radius: .3rem;
    border: .6px solid midnightblue;
}

.post-detail-heading {
    background: #f2f3fb;
    border: .6px solid midnightblue;
    margin: .5rem 0;
    border-radius: .3rem;
}

.post-detail-heading > h5 {
    margin-top: .5rem;
}

.post-detail-subheading {
    background: #f2f3fb;
    border: .6px solid midnightblue;
    margin: .5rem 0;
    border-radius: .3rem;
}

.post-body {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: .5rem 0;
    border-radius: .3rem;
}

.list-comments {
    padding: .1rem 1rem 2.2rem 1rem;
    margin: .75rem 0;
    background: #e9ecef;
    border-radius: .3rem;
    border: 1px solid rgba(0,0,0,.125);
    border-top: none;
}

.comment-form {
    margin-bottom: 3rem;
}

.comment-box {
    height: 6rem;
    margin-bottom: .5rem;
}

.commenter-stats {
  background: white;
  border: .5px solid midnightblue;
  border-radius: .3rem;
  margin-top: -2px;
  margin-left: -16px;
  margin-right: -16px;
  padding: 0 .5rem;
}

.commenter-stats > .col-sm-12 > strong > span {
    font-size: 12px;
    margin-top: 0.15rem;
}

.commenter-stats > .col-sm-12 {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
}

.comment-detail-header {
    background: #f2f3fb;
    border: .6px solid midnightblue;
    margin: .5rem 0;
    border-radius: .3rem;
}

.comment-detail-header > .row > .col-sm-12 > span.float-left {
    margin-top: .5rem;
}
.comment-detail-header > .row > .col-sm-12 > span.float-right {
    margin-top: .2rem;
}


/*REQUEST*/

.request-index-heading {
    background: #f2f3fb;
    border: .6px solid midnightblue;
    margin: .5rem 0;
    border-radius: .3rem;
}

.request-index-heading > .row > .col-sm-12 > span {
    margin-top: .5rem;
}

.list-requests {
    padding: .1rem 1rem 2.2rem 1rem;
    margin: .75rem 0;
    background: #e9ecef;
    border-radius: .3rem;
    border: .6px solid midnightblue;
}

.request-detail-replies {
    padding: .1rem 1rem 2.2rem 1rem;
    margin: .75rem 0;
    background: #e9ecef;
    border-radius: .3rem;
    border: .6px solid midnightblue;
}

.request-detail-heading {
    background: #f2f3fb;
    border: .6px solid midnightblue;
    margin: .5rem 0;
    border-radius: .3rem;
}

.request-detail-heading > .row > .col-sm-12 > span.float-left {
    margin-top: .5rem;
}

.request-detail-heading > .row > .col-sm-12 > span.float-right {
    margin-top: .2rem;
}

/*SONG*/

.list-songs {
    padding: .1rem 1rem 2.2rem 1rem;
    margin: .75rem 0;
    background: #e9ecef;
    border-radius: .3rem;
    border: .6px solid midnightblue;
}

.song-detail-header {
    background: #f2f3fb;
    border: .6px solid midnightblue;
    margin: .5rem 0;
    border-radius: .3rem;
}

.song-detail-header > .row > .col-sm-12 > span.float-left {
    font-size: 22px;
    padding-top: .6rem;
    padding-bottom: .5rem;
}

.song-detail-header > .row > .col-sm-12 > span.float-right {
    padding-top: .6rem;
    padding-bottom: .5rem;
}

.song-about {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: .5rem 0;
    border-radius: .3rem;
}

.song-scores {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: .5rem 0;
    border-radius: .3rem;
}

.song-music {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: .5rem 0;
    border-radius: .3rem;
}

/*.song-lyrical, .post-body, .author-bio {*/
.song-lyrical {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: .5rem 0;
    border-radius: .3rem;
}

.score-list {
    border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
    border-radius: .3rem;
    margin-top: .5rem;
}

.score-list-pdf-container {
    padding-left: .5rem;
    padding-right: .5rem;
}

.score-list-pdf-container > .row > .col-sm-6 {
    padding-left: .1rem;
    padding-right: .1rem;
}

.score-list-pdf-container > .row > .col-sm-6 > p.text-right {
    margin-bottom: 0;
    font-size: 14px;
    word-wrap: break-word;
}

.score-list-icon-container > .container {
    padding: 0.3rem .5rem 0 .5rem;
}

.score-list-icon-container > .container > button {
    padding-left: 3.5px;
    padding-right: 3.5px;
}

.score-list-icon-container > .container > button > span {
    background: blanchedalmond;
}

.audio-list {
    border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
    border-radius: .3rem;
    margin-top: .5rem;
}

.audio-list > p.text-right {
    margin-bottom: 0;
    font-size: 14px;
}

.audio-list-icon-container > .container {
    padding: 0.3rem .5rem 0 .5rem;
}

.audio-list-icon-container > .container > button {
    padding-left: 3.5px;
    padding-right: 3.5px;
}

.audio-list-icon-container > .container > button > span {
    background: blanchedalmond;
}

.search-input-box {
    margin-top: .5rem;
}

.search-info-box {
    font-size: 14px;
}

.song-video {
    background: #f2f3fb;
    border: 1px solid rgba(0,0,0,.125);
    margin: .5rem 0;
    border-radius: .3rem;
}

.video-list {
    border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
    border-radius: .3rem;
    margin-top: .5rem;
}


.video-list-video-container {
    padding-left: .5rem;
    padding-right: .5rem;
}

.video-list-video-container > .row > .col-sm-6 {
    padding-left: .1rem;
    padding-right: .1rem;
}

.video-list-video-container > .row > .col-sm-6 > p.text-right {
    margin-bottom: 0;
    font-size: 14px;
    word-wrap: break-word;
}


.video-list-icon-container > .container {
    padding: 0.3rem .5rem 0 .5rem;
}

.video-list-icon-container > .container > button {
    padding-left: 3.5px;
    padding-right: 3.5px;
}

.video-list-icon-container > .container > button > span {
    background: blanchedalmond;
}

/*SITEUSER*/

.register-forms {
  max-width:400px;
}

.register-btn {
    width: 100%;
    font-size: 1.25rem;
}
.siteuser-index-heading {
    background: #f2f3fb;
    border: .6px solid midnightblue;
    margin: .5rem 0;
    border-radius: .3rem;
    padding-bottom: .5rem;
}

.siteuser-index-heading > .row > .col-sm-12 > span {
    margin-top: .5rem;
}

.siteuser-index-details {
    border: 1px solid midnightblue;
    border-radius: .3rem;
    background: #94dbeb;
    color: midnightblue;
}

.siteuser-index-details > p.text-left {
    font-size: 14px;
    margin-top: .25rem;
    margin-bottom: 0;
}

.siteuser-detail-heading {
     background: #f2f3fb;
    border: .6px solid midnightblue;
    margin: .5rem 0;
    border-radius: .3rem;
}

.siteuser-detail-heading > .row > .col-sm-12 > span {
    margin-top: .5rem;
}

.administer-account {
    border-radius: .3rem;
}

.leftsidebar {
    /*border: 0.5px solid grey;*/
}

.rightsidebar {
    /*border: 0.5px solid grey;*/
}

/* ADD ICONS TO LOGIN FORM FIELDS */

.form-group {
  position: relative;
  color: #aaa;
}

input#id_username {
  text-indent: 30px;
  position: relative;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

input#id_password {
  text-indent: 30px;
  position: relative;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.fa-user {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 25px;
  color: rebeccapurple;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}

.fa-unlock-alt {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 25px;
  color: rebeccapurple;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}

.login-form {
  max-width:350px;
  margin:auto;
  padding-bottom: 1rem;
}

/*LOGIN PAGE*/

.login-btn {
    width: 100%;
}

.forgot-password-btn {
    width: 45%;
    margin-left: .3rem;
}

.join-btn {
    width: 45%;
    margin-right: .3rem;
}

.btn-md-span {
  vertical-align: middle;
  font-size: 22px;
}

/*RESET PASSWORD*/

.password-reset-conditions {
    border: 1px solid midnightblue;
    text-align: left;
    color: red;
    border-radius: .3rem;
}


/*FOOTER*/

.large-print {
  padding: 40px 0;
  background: #cacaca;
}

.large-print-item {
  padding: 20px 10px;
  text-align: left;
}

.feeds  {
  padding: 30px 0;
  background-color: silver;
}

.feeds > .container > .row {
  text-align: center;
}

.fine-prints {
  padding: 30px 0;
}

.copyright {
  margin: 20px 0;
}

.feed-list {
  list-style: none;
  display: inline;
}

/*stripe table*/
tbody tr:nth-child(even) {
  background-color: #e3e3e3;
}

tbody tr:nth-child(odd) {
  background-color: #efefef;
}

.table td {
    padding: .2rem .5rem .2rem .5rem;
    border-top: 0px;
}

.table th {
    padding: 0 .5rem 0 .5rem;
    border-bottom: 1px solid;
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.table {
    margin-bottom: 0px;
}

.table tbody+tbody {
    border: none;
}

.pagination {
    text-align: center;
    font-weight: 600;
    display: block;
    padding: 1rem 1rem;
    margin: .75rem 0;
    background: #e9ecef;
    border-radius: .3rem;
    border: .6px solid;
}

/*BUTTON ICONS*/

button.icon-buttons {
  float: left;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 3px;
  margin: 2px 1px;
}

.icon-buttons a {
    text-decoration: none;
}

ul.messages {
    color: green;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.errorlist {
  /* style django errors */
  color: red;
  text-align: left;
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.form-control {
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: .3rem;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}
