body {
  color: midnightblue;
  padding-top: 3.4rem;
}

nav {
  /*background: #830065*/
  background: midnightblue;
}

.my-toggler.navbar-toggler {
    border-color: rgb(250, 57, 57);
}
.my-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 57, 57, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

h1, h2, h3, h4, h5, h6 {
	color: midnightblue;
  }

p {
  color: midnightblue;
  margin-bottom: .25rem;
}

a {
  /* color: midnightblue; */
}

a:hover {
  /* text-decoration: none; */
  text-decoration: underline;
}

.logo-container {
  height: 100%;
  float: left;
  text-align: justify;
}

.logo {
  float: left;
  width: 15%;
}

.head-title {
  margin-top: .5rem;
}

/* .song-icons {
    margin-top: .25rem;
} */

.jumbotron {
    margin-bottom: 0;
    background: #cacaca;
}

section a {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.fixed-top {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.navbar-nav a {
   color: #BCC6CC;
   font-size: 16px;
   font-weight: bold;
}

.instant-search {
  padding: 20px 0;
}

.content-block {
  background-color: #cdd0d7;
  max-width: 1000px;
  margin: auto;
  box-shadow: 1px 3px 7px 3px #c4c7ce inset;
  border-radius: .3rem;
  padding-bottom: 10px;
}

th, td {
    white-space: nowrap;
}

.filter-block {
  max-width:400px;
  margin: auto;
  background: #e9ecef;
  margin-top: 0.5rem;
  padding: .5rem 1rem 3rem 1rem;
  border-radius: .3rem;
  border: 1px solid mintcream;
}

.filter-block .btn-sm {
  margin-top: 0.5rem;
}

.upload-forms {
  max-width:450px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0 1rem 2.75rem 1rem;
  background: #f0eeee;
  border: 1px solid #d7d7d7;
  border-radius: .3rem;
}

.login-form {
  max-width:350px;
  margin:auto;
  border: 1px solid #d7d7d7;
  border-radius: .3rem;
  padding-bottom: 1rem;
  background: #f0eeee;
  margin: auto;
  /* margin-top: 10rem; */
}

a.upload-button {
    color: white;
    margin-right: .35rem;
    margin-top: .3rem;
}
.related-widget-wrapper-link {
  background: blanchedalmond;
}

.song-actions {
    background: #f2f3fb;
    border: .5px solid #f2f3fb;
    margin-bottom: 0.5rem;
    border-radius: .3rem;

}

.song-about {
    background: #f2f3fb;
    border: .5px solid #f2f3fb;
    margin-bottom: 0.5rem;
    border-radius: .3rem;

}

.song-readable {
    background: #f2f3fb;
    border: .5px solid #f2f3fb;
    margin-bottom: 0.5rem;
    border-radius: .3rem;

}

.song-audible {
    background: #f2f3fb;
    border: .5px solid #f2f3fb;
    margin-bottom: 0.5rem;
    border-radius: .3rem;

}
.song-watchable {
    background: #f2f3fb;
    border: .5px solid #f2f3fb;
    margin-bottom: 0.5rem;
    border-radius: .3rem;

}

.song-lyrical {
    background: #f2f3fb;
    border: .5px solid #f2f3fb;
    margin-bottom: 0.5rem;
    border-radius: .3rem;
}

.score-list {
    border: .5px solid #d2d3da;
}

label {
  font-weight: bold;
  }

.leftsidebar {
    /*border: 0.5px solid grey;*/
}

.rightsidebar {
    /*border: 0.5px solid grey;*/
}

/* Add icons to registration form fields */
.form-group {
  position: relative;
  color: #aaa;
}

.login-logo {
  margin:auto;
}

input#id_username {
  text-indent: 30px;
  position: relative;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

input#id_password {
  text-indent: 30px;
  position: relative;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.fa-user {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 25px;
  color: rebeccapurple;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}

.fa-unlock-alt {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 25px;
  color: rebeccapurple;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}

.btn-md-span {
  vertical-align: middle;
  font-size: 22px;
}


.large-print {
  padding: 40px 0;
  background: #cacaca;
}

.large-print-item {
  padding: 20px 10px;
  text-align: left;

}

.feeds  {
  padding: 30px 0;
  background-color: silver;
}

.feeds > .container > .row {
  text-align: center;
}

.fine-prints {
  /* text-align: center; */
  padding: 30px 0;
}

.copyright {
  margin: 20px 0;
}

.feed-list {
  list-style: none;
  display: inline;
}

/*stripe table*/
tbody tr:nth-child(even) {
  background-color: #e3e3e3;
}

tbody tr:nth-child(odd) {
  background-color: #efefef;
}

.list-items-high {
    padding: .1rem 1rem 2rem 1rem;
    margin: .75rem 0;
    background: #e9ecef;
    border-radius: .3rem;
}

.list-items {
    padding: .1rem 1rem .5rem 1rem;
    margin: .75rem 0;
    background: #e9ecef;
    border-radius: .3rem;
}

.table td {
    padding: .2rem .5rem .2rem .5rem;
    border-top: 0px;
}

.table th {
    padding: 0 .5rem 0 .5rem;
    border-bottom: 1px solid;
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.table {
    margin-bottom: 0px;
}

.table tbody+tbody {
    border: none;
}

.pagination {
    text-align: center;
    font-weight: bold;
    display: block;
    padding: 1rem 1rem;
    margin: .75rem 0;
    background: #ffffff;
    border-radius: .3rem;
}

button.icon-buttons {
  float: left;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #24292e;
  text-decoration: none;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

a.like-counter {
  float: left;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #24292e;
  text-decoration: none;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

/*.row {*/
/*    padding: 0.5rem 0;*/
/*}*/

ul.messages {
    color: green;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.errorlist {
  /* style django errors */
  color: red;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.comment-box {
    height: 6rem;
}
.form-control {
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: .3rem;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}
